[2020-07-10 02:14] robe070 opened #1 "Fix the ABEND caused by a change in Windows functionality related to IIS-NetFxExtensibility"

[2020-07-10 02:15] robe070 opened #2 "Add the scalable licences to the VM using the Key Vault Secrets"
The PRD describes the following objective in section 6.1.4:
_Following Azure Security Best Practices and utilizing the Azure Key Vault, design a secure mechanism to store and retrieve the Scalable License Certificates. To be designed by the architect before Phase 1 begins._
Here is a document that contains the design. And in particular the change required in the script. It will be augmented later

[2020-07-10 02:23] robe070 opened #3 "Remotely execute the script install-base-sql-server.ps1"
One of the tasks is to automate the baking of the image. And there is currently a prompt which requires manual intervention. This exists because the script installs a Windows Update and that is not permitted using Remote Powershell.
After talking with Harish last night I wondered if the Az Module provided a cmdlet which would execute a powershell script in the VM. And there is. So you will replace

[2020-07-10 02:58] robe070 commented on #2
Test comment from Slack

[2020-07-10 04:38] robe070 opened #4 "P4 Azure Plan & Image Naming"
Refer to section 21.1 ARM Template Parameter Mapping Technique in the PRD. This table replaces the table there and the technique details will need to change in accordance with this table.

The Image Name is restricted to 15 characters - its a limitation of Windows computer names. It also needs to be different from the previously published image hence the "-1" on the end. So I've shortened the Plan

[2020-07-14 05:29] #1 closed, assigned to nobody

[2020-07-14 05:37] robe070 opened #5 "Change name of production image"
Ref Issue #4

Windows Server 2012 R2 Datacenter | V14 SP2 | lansa-scalable-license | lansa-scalable-license-14-2 | w12r2d-14-2-10
-- | -- | -- | -- | --

[2020-07-14 05:38] #5 closed, assigned to robe070

[2020-07-14 05:59] robe070 opened #6 "Script to start a new VM to test updated Scalable License"
Ref: Baked Image Testing

1. All test scripts to be placed in .\tests
3. Create a PowerShell script to run a set of tests on an image. Name it .\tests\TestImage.ps1. This runs on a host machine to control the testing.
4. Prompt for image name. This is passed in from the script which bakes the image.
5. Prompt for Cloud provider name. This is passed in from the script which bakes the image.
6. Crea

[2020-07-14 06:01] robe070 opened #7 "Test Image Using the stack **Before** Submission to AMP"
Ref: Testing Image and Template **Before** Submission to AMP
Part of Deliverable: Script to start up a stack and test that the application functions properly when deployed locally and through Azure Marketplace when in preview

1. Create a PowerShell script to test that the image may be used by the template.
3. The template being used for Phase 1 will be the Azure Quickstart template.
4. For subseq

[2020-07-14 06:06] robe070 opened #8 "Azure Image Marketplace Submission URL"
Windows Server 2012 LANSA Scalable License image for V14 SP2 on Microsoft Azure Marketplace.
Deliver a Windows Server 2012 LANSA Scalable License image for V14 SP2 into the LANSA Azure account and provide Azure Marketplace Submission URLs to the LANSA Architect, This is an interim deliverable, until the image is successfully published in Azure Marketplace the deliverable is not complete.

[2020-07-14 06:29] robe070 opened #9 "P1 Generic Script Updating Requirement"
Any edited scripts need to be checked to ensure that `Write-Output` is replaced with `Write-Host` and that every command line whose output is not captured to a variable is piped using ` |Out-Default | Write-Host `. Ref: Appendix: Generic Script Updating Requirement

[2020-07-14 06:29] robe070 opened #10 "P3 Generic Script Updating Requirement"
Any edited scripts need to be checked to ensure that `Write-Output` is replaced with `Write-Host` and that every command line whose output is not captured to a variable is piped using ` |Out-Default | Write-Host `. Ref: Appendix: Generic Script Updating Requirement

[2020-07-14 06:33] robe070 opened #11 "P2 Final Solution Template in Azure Marketplace Package file"
Provide Azure Marketplace Package file for Solution Template to LANSA Architect.
This is an interim deliverable, until the Solution Template is successfully published in Azure Marketplace the deliverable is not complete.

[2020-07-14 06:48] robe070 opened #12 "Test stack deployment in all supported Regions"
When the Plan has reached preview stage, the DP must ensure that the stack deployment test passes in all supported Regions.

[2020-07-14 07:25] robe070 opened #13 "P2 Test Preview Image using the stack"
Ref: Testing Preview Template or Preview Image

1. Create a PowerShell script to test that the template and all images function correctly in either a specific Region or all supported Regions.
3. For Phase 1, the template is in Azure Quickstart and the image is in Azure Marketplace. The purpose is to ensure that a customer may instantiate the LANSA stacks. So the template will not be run from the L

[2020-07-14 07:41] robe070 opened #14 "How to programmatically confirm that the image being tested is the correct one?"

[2020-07-16 08:54] robe070 opened #15 "P4 Provide Splash Screens for the various different images"
ref PRD 18.9.2

[2020-07-17 14:53] ashutosh-kumar1 commented on #3
Hi @robe070,
We tried automating the baking image step both using the remote PowerShell and the cmdlet, but failed.
We altered line-457 of 'bake-ide-ami.ps1' file:
`$dummy = MessageBox "Run install-base-sql-server.ps1. Please RDP into $Script:vmname $Script:publicDNS as $AdminUserName using password '$Script:password'. When complete, click OK on this message box"`
 to the below mentioned code:
- F

[2020-07-20 00:27] robe070 commented on #3
Firstly, as per the PRD, every line of the scripts that does not capture the result of a cmdlet in a variable is required to | Out-Default | Write-Host.
If you do that you will see output from the command.

Secondly, as I discussed with you the first time we were on a call with just the two of us, the reason this script is run manually is because you cannot run Windows Updates in a remote PowerShe

[2020-07-21 03:24] ashutosh-kumar1 commented on #3
Code committed to branch feature/azure-images with commit message : CCS-163204: Remotely execute the script install-base-sql-server.ps1

[2020-07-22 23:51] robe070 opened #17 "Azure Template: Provide Dev & Test options in template"
Add options to script for Application Gateway and when creating a new database to use settings appropriate for Development. For example, the Application Gateway would be small and 1 instance. The database would be General Purpose, Serverless, with 1.5 <= vCpus <= 12 with Gen5 hardware.

Simlarly for Test.

[2020-07-22 23:57] robe070 opened #18 "Azure Template: Package up settings into 'Shoe Sizes'"
Gather some of the performance related settings into a single option so that its a simple choice of, say, a small, medium or large stack.

Needs specifics to be designed.
Example settings are:
Application Gateway
Database
Instance counts

Combine with #17

[2020-07-24 05:36] robe070 opened #19 "P2 Required reading for all devs working on the template"
Refer PRD section 14 Phase 2 Guidance

This is a new process for LANSA so direct guidance on how to develop a Solution Template is not possible. Nonetheless, essentially a Solution Template is an Azure Quickstart Template with added features.

So you will need to either already be an expert in Azure Quickstart Templates and Solution Templates or you will need to educate yourselves and raise your s

[2020-07-24 12:11] mricha commented on #2
hi @robe070
Thank you for your comments. I had checked in the code changes that adds the secret using the `Add-AzVMSecret`.
`TestLicense.ps1` script checks for license in the registry. I believe the changes are to be done in the `TestLicense.ps1` file to accurately verify the certificates (involves clarification on the registry and private keys during the script execution). Also, I feel that witho

[2020-07-24 15:10] ashutosh-kumar1 commented on #6
Script pushed to branch with commit - 163204: Script to start a new VM to test updated Scalable License. The finally blocks deletes the VM post the test execution.
@robe070 Please review the code.

[2020-07-27 06:44] ashutosh-kumar1 commented on #7
@robe070, Do we need to deploy azure stack separately and then connect to azure stack with the help of PowerShell script for testing the image or is there any other way for testing the stack? Meanwhile, I am proceeding with modifying the template and the parameters to create the resources.

[2020-07-27 11:17] robe070 commented on #7
You need to execute web requests using PowerShell against the `lbfqdn` output value. This the the  Fully Qualified Domain Name of the web server. That value needs to be inserted instead of `localhost` in the urls provided in the first comment.

You can find similar code in this script `.\GitHub\cookbooks\CloudFormationWindows\CheckVLWebStatus.ps1`. This script searches for LANSA stacks that are na

[2020-07-27 11:30] robe070 commented on #2
This is correct.

do you wanted us to manually add the certificate with exportable true?

No. Its perfect as it is.

It does both. Or more accurately, the registry keys are used when the application is installed to enable access to the certificate for the web user. When the LANSA application runs as Web User, it loads the certificate using its unique identification . The fact it can be loaded conf

[2020-07-27 16:06] mricha commented on #2
hi @robe070
Thanks for your guidance and support. I am able to build the image successfully with the recent changes. Please review and let me know your comments.

![image](https://user-images.githubusercontent.com/28262916/88564713-2b8fe380-d051-11ea-947f-14662d3814a3.png)

[2020-07-28 01:23] robe070 commented on #2
Looks good. The only question I have is whether this VM was created from the image you built?

And you should be using the production name for the image as I indicated previously. One person needs to be using the production name, and that seems to be you. => `w12r2d-14-2-10`

[2020-07-28 01:33] robe070 commented on #2
And once you've built the correctly named image, keep the SAS URL for submitting to Azure Marketplace

[2020-07-28 07:42] ashutosh-kumar1 commented on #6
@robe070, Please find attached execution log

[log for issue #6.txt](https://github.com/robe070/cookbooks/files/4986697/log.for.issue.6.txt)

[2020-07-28 10:50] VarunChopraAccolite commented on #8
Hi @robe070
Please find inline the output for publishing the Azure Image using Default settings.
`> .\bake-scalable-azure-14-0.ps1`

[code]

[2020-07-28 10:52] VarunChopraAccolite commented on #8
Hi @robe070
Also, I am adding the result of the testing the image using https://github.com/robe070/cookbooks/issues/6.

`>  .\TestImage.ps1 -ImgName 'w12r2d-14-2-10image' -CloudName 'Azure'
`
[code]

[2020-07-28 10:58] VarunChopraAccolite commented on #14
Hi @robe070
As discussed, the test scripts added needs to output the image used. TestImage.ps1 should output the Image name. We can keep this open for now, and we can close this after modifying https://github.com/robe070/cookbooks/issues/6 and https://github.com/robe070/cookbooks/issues/7.

[2020-07-29 03:12] #2 closed

[2020-07-29 03:13] #3 closed, assigned to ashutosh-kumar1

[2020-07-29 03:13] #4 closed, assigned to nobody

[2020-07-29 03:13] #6 closed, assigned to ashutosh-kumar1

[2020-07-29 03:25] robe070 commented on #7
@VarunChopraAccolite @ashutosh-kumar1
Given the closeness to completing Phase 1 and the possibility raised yesterday by Varun that testing within the pipeline may not use PowerShell, I think you should postpone the completion of the script until Phase 2.

For now, with the modified template, create a LANSA stack using the new image `w12r2d-14-2-10image` and manually run the 4 tests. Use the deploy

[2020-07-29 05:42] VarunChopraAccolite commented on #7
Hi @robe070
Sure, we will test and post the results for your review.

[2020-07-29 14:30] ashutosh-kumar1 commented on #7
I have created a resource group, vmss and a database with name rgak, vmssak and test-ak respectively. We are getting an error while executing the file Deploy-AzureResourceGroup.ps1 with the updated test parameters. Attaching error log for reference [error issue #7.txt](https://github.com/robe070/cookbooks/files/4995260/error.issue.7.txt) .
@robe070 Can you please review the attached file and provi

[2020-07-30 01:48] robe070 commented on #7
Well the parameters look correct. Except that I cannot check the passwords because you haven't supplied the parameter file. And all I can check is if they are complex enough. Thats just about the only reason this deployment would fail. Apart from you supplying the incorrect database user and password.

You've also run the deployment script using the default parameter file. You were [instructed to

[2020-07-30 06:33] ashutosh-kumar1 commented on #7
Hi @robe070 ,
Post the execution of StopStartAppGW job, I am able to access the output lbFqdn : https://agvmssak.australiaeast.cloudapp.azure.com from my browser. Still, when I am trying to access the URLs provided in the issue description, I am getting a status of 4001 and not 200.

[2020-07-30 08:39] robe070 commented on #7
They work for me. Here is 1 example:
![image](https://user-images.githubusercontent.com/4089160/88901302-fc1ce900-d293-11ea-9d24-0c74f9cf7807.png)

[2020-07-30 08:40] robe070 commented on #7
And the other complex one:
![image](https://user-images.githubusercontent.com/4089160/88901479-2d95b480-d294-11ea-9c30-82d37c8383cc.png)

[2020-07-30 08:52] ashutosh-kumar1 commented on #7
Any additional thing that needs to be done @robe070 ?
When I am executing the same it is showing me a blank page with 4001 code. Any privileges required?
Any setup required for 'https://agvmssak.australiaeast.cloudapp.azure.com'?
![code 4001](https://user-images.githubusercontent.com/67790012/88902548-ff05e280-d26f-11ea-8ae1-bf49d512a06b.PNG)

[2020-07-30 09:55] robe070 commented on #7
You've not typed the colon:
https:

[2020-07-30 09:57] robe070 commented on #7
I've tried to email you on ashutosh.kumar1@accoliteindia.com and it rejects saying this address does not exist:
Notice the different address its been **converted** to
![image](https://user-images.githubusercontent.com/4089160/88909628-b44f8f00-d29e-11ea-93be-5b8795787d44.png)

If you still have an issue, call me on +61404093890 as I may not be looking at my email.

[2020-07-30 10:19] ashutosh-kumar1 commented on #7
Thanks @robe070 for looking into the issue. I think it is some issue/blockers with chrome on my local system which did not allow the URL to execute properly and converted the URL to 'https//agvmssak.australiaeast.cloudapp.azure.com/cgi-bin/probe'.
Changing the browser to IE worked.

[2020-07-30 12:59] ashutosh-kumar1 commented on #7
@robe070 I have pushed the code changes of azuredeploy.json file to my repo 'https://github.com/ashutosh-kumar1/azure-quickstart-templates' with commit '163204 Hardcoding Image ID to use custom image for deploying stack'. Do I need to make changes anywhere and commit for this issue?

Output String obtained as below:
OutputsString           :
                          Name             Type

[2020-07-30 13:02] ashutosh-kumar1 commented on #8
@robe070 Please find the output of the image bake which will be used as a deliverable for this issue:

`ResourceGroupName    : BakingDP
SourceVirtualMachine : Microsoft.Azure.Management.Compute.Models.SubResource
StorageProfile       : Microsoft.Azure.Management.Compute.Models.ImageStorageProfile
ProvisioningState    : Succeeded
HyperVGeneration     : V1
Id                   : /subscriptions/739c4

[2020-07-31 02:30] #8 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-07-31 02:32] robe070 commented on #7
@ashutosh-kumar1

No you do not. The code will need to be incorporated into the changes made to the template as part of Phase 2

[2020-07-31 02:32] #7 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-07-31 04:06] VarunChopraAccolite opened #21 "P3 Add Tests Powershell script for Azure Pipeline (Pester Preferred)"
Use Pester to write down the tests based on the PS scripts. The result of this task will be the Pester Test Script. This script when executed should generate a NUnit.xml file. Eventually, it will be used by the Azure Pipeline. It should include the TestImage tests and Test Image using Stack Test.

[2020-07-31 12:57] VarunChopraAccolite opened #22 "P3 Setup Image Pipeline base"
Design a pipeline refer the wiki page for more information, need to add subtasks.

[2020-07-31 12:57] VarunChopraAccolite opened #23 "P3 Setup Azure Template Pipeline base"
Design a pipeline refer the wiki page for more information, need to add subtasks.

[2020-08-02 23:18] robe070 commented on #13
@VarunChopraAccolite @ashutosh-kumar1
As you haven't yet written the script which this Issue presumes exists, manually test the preview in 3 Regions.

1. Australia East
2. US East
3. West India

Use the template in its original condition and ensure you chose the PREVIEW option for the `imageOffer` parameter. This will require modifying the `test.parameters.json` file to use `lansa-scalable-license

[2020-08-03 02:04] robe070 opened #24 "P2 Differences between Azure Quickstart Templates and Solution Templates"
This is an incomplete list of the differences between Azure Quickstart Templates and Solution Templates

1. `azuredeploy.json` => `mainTemplate.json`
2. First parameter must be location:
[code]
3. Ref: https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzureResourceGroup.ps1
Implement at least the `Dev `and `ValidateOnly` switches. `Dev `switch to be able to simply switch to us

[2020-08-03 02:07] robe070 opened #25 "Use NewOrExisting pattern for Application Gateway public ip address in template"
Note: There are 3 public ip addresses. Only the Application Gateway public ip address needs to be altered. This is because it is the address of the application that is being deployed. Whereas the other 2 are for troubleshooting the VMs.

[2020-08-04 05:11] VarunChopraAccolite commented on #22
Hi @robe070
Please find below the error message when configuring the pipeline. I might need admin access (temporarily) to configure the pipeline.

[https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#integrate-using-the-github-app](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#integrate-using-the-github

[2020-08-04 05:42] robe070 commented on #22
@VarunChopraAccolite If it is a personal repository, only the repository owner can create hooks. So what do I need to do?

[2020-08-04 05:47] robe070 commented on #22
@VarunChopraAccolite Can we have a short discussion to go through the Pipeline discussion paper and confirm the understanding please. Either at 4 pm today, or at 5:30 pm today. Maximum 30 minutes. Times in AEST. So, 11:30 am IST or 1 pm IST.

[2020-08-04 05:51] robe070 commented on #22
@VarunChopraAccolite And email me with a high priority email to have the highest chance of me seeing the invitation you create to Google Meet.

[2020-08-04 05:54] VarunChopraAccolite commented on #22
Hi @robe070
Thanks, we can connect at the earliest 11:30 IST. I will share the invite.

[2020-08-04 07:36] VarunChopraAccolite commented on #22
Hi @robe070
As discussed, I will create a standard generic PS Script that accepts below parameters with logic to select all/any image for build and testing. The PS Script might be called multiple times by the Powershell tasks without the loop.

[code]

[2020-08-04 08:22] robe070 commented on #22
Refer #4 for how the VersionText parameter is derived and thus the values required for most of the other parameters.

[2020-08-04 09:56] robe070 commented on #22
@VarunChopraAccolite I've updated the Wiki Discussion page. My edits are marked with ~~strike out~~ for items to remove and `inline code marks` for either comments or suggested replacements. We probably should discuss first thing on Wednesday. I'm available from 2:30 am AEST (10 am IST?) until 4:45 pm. Please choose a time that suits you.

[2020-08-04 10:41] VarunChopraAccolite commented on #22
Hi @robe070
Sure, let's connect 10 AM IST. I will share an invite across.

[2020-08-04 15:01] ashutosh-kumar1 commented on #13
Hi @robe070 ,
I tried deploying the template for marketplace preview image but it failed with an error message 'Marketplace purchase eligibilty check returned errors'. Attaching the complete error log. Could you please have a look at it? Is there any rights that need to be provided? Is there any additional cost involved (concern)?
[error file for marketplace deployed image.txt](https://github.com/

[2020-08-05 02:15] robe070 commented on #13
Its quite clear what the issue is:
_**You have not accepted the legal terms on this subscription: '739c4e86-bd75-4910-8d6e-d7eb23ab94f3' for this
plan. Before the subscription can be used, you need to accept the legal terms of the image. To read and accept legal terms, use the Azure CLI
commands described at https://go.microsoft.com/fwlink/?linkid=862451 or the PowerShell commands available at
htt

[2020-08-05 02:52] robe070 commented on #13
@ashutosh-kumar1 I have created the VM for you. You will now be able to create the stack.

When creating a stack the directive is:
1) Always use an empty Resource Group unless you are re-deploying exactly the same stack.
2) Never manually create a database server or Database in any Resource Group apart from Shared
3) The idea is that the Resource Group contains only the resources that the stack cr

[2020-08-05 06:12] ashutosh-kumar1 commented on #13
@robe070 , Thanks for creating a dummy-VM. I was able to deploy the template using the market place preview image in Australia East location. Can you tell me the necessity of creating a VM from the preview image?

[2020-08-05 08:59] robe070 opened #26 "P3 Use a separate resource group for each Azure Image to ease deletion"
Modify the `Bake-Ide-Msi.ps1` script to create a resource group based on the VersionText, if it doesn't already exist.

This is important for the pipeline so that it may be cleaned up after building the image.

`Bake-Ide-Msi.ps1` must not delete the resource group itself. During development its up to the developer to delete when appropriate. The pipeline will delete it on successful completion. No

[2020-08-05 09:01] robe070 commented on #26
@VarunChopraAccolite  FYI

[2020-08-05 09:08] robe070 opened #27 "P2 Solution Template Regression Test Suite"
The Solution Template is fully regression tested in the build pipeline. (Previously it was going to be in preview which presumed that Microsoft will have checked the submission thoroughly by the. But they don't. They only do that when choose to go LIVE! Actually getting to preview seems to just require that the ARM TTK tests pass, which we already know is the case. Better to test it automatically

[2020-08-05 15:57] ashutosh-kumar1 commented on #13
@robe070 I tried manually executing the script for the mentioned regions. I was successfully able to execute the script for US East and Australia East locations but it failed for West India with the attached 'invalid template deployment error'. Couldn't figure out why the template was valid for the other two regions but not for the 'West India' region.
[west india deployment error.txt](https://git

[2020-08-06 00:29] robe070 commented on #27
@VarunChopraAccolite @ashutosh-kumar1 FYI

[2020-08-06 00:37] robe070 commented on #13
Just go to the url provided in the error message and you'll get your answer: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-sku-not-available

**The VM Size is almost certainly invalid.**

Use the technique described in the url to determine what IS available to you in that region. Make sure you check both VM Sizes.
I will create an Issue to modify the template to use

[2020-08-06 00:51] robe070 commented on #13
As the error message describes, the baking Images subscription needed to be subscribed to the preview. That occurs when you create a VM from it in the Azure Portal. Its possible to do it from Powershell, but its a one off and quick to do so its unnecessary to code for it. It will never need to be subscribed to again for subsequent versions. Its now subscribed to the Offer/SKU combination.

It may

[2020-08-06 00:55] robe070 opened #28 "Modify the template to use defaults for VM Size which are available in all regions."
[Ref](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-sku-not-available)

Using the technique in the reference document to determine what is currently available everywhere, update the VM sizes in the template to these VM sizes which are available everywhere.

This task should be repeated every 6 months to confirm that the defaults are still valid. To that end, when th

[2020-08-06 04:17] VarunChopraAccolite opened #29 "P3: Add a flag to disable the MessageBox for pipeline runs"
Bake-Ide-Ami script should accept a [switch] Pipeline to handle the scenarios relevant to the pipeline build. This issue covers a scenario to suppress the Messagebox for the Pipelines.

[2020-08-06 04:19] VarunChopraAccolite opened #30 "P2: Resolving Template error messages using the ARM TTK"
Please find attached the log of the report after running the ARM TTK. I will link the steps to run the ARM TTK in Development environment in the Wiki. Below tests are failing that needs attention.

[code]

[BestPracticeTests-Template.txt](https://github.com/robe070/cookbooks/files/5032519/BestPracticeTests-Template.txt)

[2020-08-06 05:00] VarunChopraAccolite commented on #30
Adding the wiki for running ARM TTK locally.
[https://github.com/robe070/cookbooks/wiki/Lansa-Templates---Validation-policy-using-ARM-TTK](https://github.com/robe070/cookbooks/wiki/Lansa-Templates---Validation-policy-using-ARM-TTK)

[2020-08-06 05:05] robe070 commented on #30
I was going to describe how to determine what the latest API version is. But I notice that it tells you what it is! So, just put that in the template. A simple change to 6 locations in the template.

And here is the process if there is a defect in the API version given, when an older version may need to be used:

List Template API Versions

[code]

e.g. When the template contains this type:

"type

[2020-08-06 06:15] VarunChopraAccolite opened #31 "P3 Extend the Image Release Pipeline to build six images in the Build Stage"
The Image Release Pipeline builds a single image, use the table provided in the https://github.com/robe070/cookbooks/issues/4 to extend the build process to the six images.

[2020-08-06 06:21] VarunChopraAccolite opened #32 "Add a common Build script used by the Pipeline to bake six images"
The generic build script should accept the below parameters.
[code]

Refer  https://github.com/robe070/cookbooks/issues/4

[2020-08-06 06:24] VarunChopraAccolite commented on #32
hi @robe070
We have discussed this one over the call. Please go over the commit and let me know your comments.
https://github.com/robe070/cookbooks/commit/4cefa2f9a47cf87e6c966b44019ea2146e009b85

[2020-08-06 06:26] VarunChopraAccolite commented on #29
hi @robe070
Please review the changes done using the [switch] parameter type as discussed and let me know your comments.

https://github.com/robe070/cookbooks/commit/775471017ecab61fe089288d74258a749023e33f

[2020-08-06 11:56] VarunChopraAccolite opened #33 "P2 Allow template to be used to test new images"
The purpose of this task is to allow for images in all stages of development, test and production to be used by the template.

This issue is required to be done at the earliest oppourtunity so that the template may be used to test the new images. The template will not be published yet, so it will need to be downloaded as a raw file from the GitHub repo. These changes should be made in `lansa/azure

[2020-08-06 12:08] knagasekharreddy commented on #9
I have check the script everything is fine..

[2020-08-06 12:30] ashutosh-kumar1 commented on #13
@robe070 I have tested the deployment of the preview image manually in the 3 locations: Australia East, US East and France Central. The resource groups are present in the Azure portal for your reference (named as rgak<number>). Meanwhile, I am creating a script to do the same as per this issue and will start working on the solution template thereafter.

[2020-08-07 02:16] robe070 commented on #13
I have checked your tests as it was not possible for you to provide test results easily as they are not yet automated. They all run successfully. I am now publishing the image.

[2020-08-07 02:19] robe070 commented on #28
It seems that the issue was not VM Sizes being unavailable but that the Baking Images subscription was not permitted to create VMs in West India.

So, this is now a low priority issue.

[2020-08-07 02:29] robe070 commented on #13
I've realised that even though the image has passed the tests, the script thats required of this Issue has not yet been completed. So I've move it to Phase 2.

[2020-08-07 02:35] robe070 opened #34 "P1 Test Production Image using the stack"
Requires the image to be published. Architect will notify when thats complete. This will be available by Monday 10th August.

Create a stack in US East and run the tests described in #7, but on the **Production** image, NOT Preview and NOT Custom Image
This should take about 1 hour with most of the time just waiting for the stack to be created.

[2020-08-07 03:06] robe070 commented on #29
Changes are correct in principle

[2020-08-07 03:06] #29 closed, assigned to robe070, VarunChopraAccolite

[2020-08-07 03:13] robe070 commented on #14
This is not sufficient. This is only testing that the script has been passed the correct value. It is not testing that the image matches the parameter passed in.

I think the simplest solution is to modify `bake-ide-ami.ps1` to write $VersionText to the LANSA registry. And then in the test compare this registry value to what the script is meant to be testing.

[2020-08-07 03:19] robe070 commented on #33
Prior to implementing this issue, Issue #24 needs to be completed.

[2020-08-07 04:23] #9 closed, assigned to VarunChopraAccolite, knagasekharreddy

[2020-08-07 04:23] #32 closed, assigned to robe070, VarunChopraAccolite

[2020-08-07 06:00] robe070 commented on #33
I've edited the initial comment to clarify the requirement and remove the prereq of #24

[2020-08-07 06:22] robe070 opened #35 "P2 Create an initial Solution Template submission to Azure MarketPlace"
The purpose of this issue is to provide, at the earliest oppourtunity, a submission to AMP that is valid, so that basic issues of publishing a Solution Template may be solved. The `CreateUIDescription.json` file may be as simple as necessary to pass the tests.

Initial submissions to AMP can take a number of weeks, hence the need to get the process started ASAP.

Ref: #24

[2020-08-07 06:24] robe070 opened #36 "P2 Create Solution Template Blades correctly"
This is the third part of producing the new Solution Template, final submission. The new UI interface blades.

The sequence of events around creating the Solution Template are summarised below
1. #33 Allow template to be used to test new images
2. #35 Allow the publication process to begin
3. #36 Final submission

#24 describes the UI process at a high level, requiring Architect involvement in wha

[2020-08-07 06:59] ashutosh-kumar1 commented on #13
@rob, I have already started automating the script for testing the preview image. Parallelly I have also written a test script to test the 4 URLs mentioned in issue #7. The only thing left in it is to get the lbfqdn value which is pending.
I did go through the priority tickets and to deliver the issues based on priority, I am picking issue #33 right away. Will continue on it as the priority demand

[2020-08-07 18:14] ashutosh-kumar1 commented on #33
@robe070 I have modified the code for lansa/azure-quickstart-templates but was unable to push it to the branch feature/azure-images as I do not have the permission for the same. Meanwhile, I have pushed the changes to my fork, please refer:
https://github.com/ashutosh-kumar1/azure-quickstart-templates/commit/eb1a3d277d208a59d2cb25dc865eced7cc1eaa7b
I have mapped the SKU as per the table mentioned

[2020-08-09 23:48] robe070 commented on #33
@ashutosh-kumar1  I've given you push access to the lansa/azure-quickstart-templates repo.

The changes look OK in principle. The resultant VMSS are deploying the correct images.

You seem to have copied the VMSS resource definition entirely thus duplicating many lines of code creating a maintenance issue. You need to put the condition at the lowest level possible. Its currently too high.

Every p

[2020-08-10 04:53] robe070 commented on #33
@ashutosh-kumar1 @VarunChopraAccolite Varun has spoken to me about the need to duplicate the code. This post should solve it:
https://stackoverflow.com/questions/45410686/using-conditional-if-statements-in-arm-templates-for-properties

So you don't use the Condition property. Instead you specify the value of the property as an `If` statement. Note the value for the property when you don't need it

[2020-08-10 07:44] ashutosh-kumar1 commented on #34
@rob, I was able to deploy the template using production image.
Please find attached
- Log
[production image deployment log.txt](https://github.com/robe070/cookbooks/files/5049533/production.image.deployment.log.txt)

- Screenshot
![production image deployment](https://user-images.githubusercontent.com/67790012/89760883-dea91400-db0a-11ea-89cc-37ebbf6bb16d.PNG)

I also have a script to execute the

[2020-08-10 08:08] VarunChopraAccolite commented on #21
Additional Details:
Write a Pester script to test the images and template for the Custom Image based on the parameters.
1. Accept input parameters: Resource Group, Image URL
2. Write the tests for TestImage.cs and Template test for Custom Image
3. Generate the NUnit output XML

Note:
1. TestImage and Template might need modification to accept the Resource Group.

[2020-08-10 10:08] #34 closed, assigned to nobody

[2020-08-10 12:26] ashutosh-kumar1 commented on #33
@robe070, Thanks for the help. I went through the link and was able to replace the copied code with if condition. I have modified the JSON file and committed it after verifying that it worked properly.
Please review: https://github.com/lansa/azure-quickstart-templates/commit/cce18c1da9c656931937e817962b9e24a64834ce

[2020-08-10 23:17] #33 closed, assigned to robe070, VarunChopraAccolite, ashutosh-kumar1

[2020-08-11 02:29] robe070 opened #37 "P2 When deleting resource group, also ensure Storage Account is cleared too"
Here is an example from `stagingdpw19d1501v` using Azure Storage Explorer:
Delete all the `bootdiagnostics` folders
delete `*.vhd` in the `vhds` folder.
![image](https://user-images.githubusercontent.com/4089160/89850527-e4b3f900-dbcd-11ea-8f63-632018591329.png)

[2020-08-11 06:58] VarunChopraAccolite commented on #31
Also, add control to build all images or selected ones.
We define the below variables and use them in to control the tasks in the Pipeline.
[code]
**Example:**
Below configuration builds for w-12r2d-14-2 and w-16d-15-0

![image](https://user-images.githubusercontent.com/24430923/89866909-f6959c00-dbcd-11ea-888e-ec85a180275a.png)

[2020-08-11 07:27] robe070 commented on #31
Good idea.

[2020-08-12 01:32] robe070 opened #38 "P3 Demo of Azure image building and testing automation pipeline to validate that images have been built correctly."
Demo of Azure image building and testing automation pipeline to validate that images have been built correctly.

[2020-08-12 01:33] robe070 opened #39 "P3 Documented test-cases and results from Azure pipeline"

[2020-08-12 01:34] robe070 opened #40 "P3 Windows Server 2012 LANSA Scalable License image for V15 GA on Microsoft Azure Marketplace."
Deliver a Windows Server 2012 LANSA Scalable License image for V15 GA into the LANSA Azure account and provide Azure Marketplace Submission URLs to the LANSA Architect, This is an interim deliverable, until the image is successfully published in Azure Marketplace the deliverable is not complete.

[2020-08-12 01:35] robe070 opened #41 "P4 Version specific splash screen for each Windows Server image i.e V14 SP2, V15 GA."

[2020-08-12 01:36] robe070 opened #42 "P4 Prompt for Windows Server Version, LANSA Version, and Image Release state"

[2020-08-12 01:37] robe070 opened #43 "P4 Beautified database type parameters"

[2020-08-12 01:39] robe070 opened #44 "P4 Windows Server 2016 LANSA Scalable License images for V14 SP2 and V15 GA on Microsoft Azure Marketplace."
Deliver Windows Server 2016 LANSA Scalable License images for V14SP2 and V15 GA into the LANSA Azure account and provide Azure Marketplace Submission URLs to the LANSA Architect; this is an interim deliverable, until the images are successfully published in Azure Marketplace the deliverable is not complete.

[2020-08-12 01:39] robe070 opened #45 "P4 Windows Server LANSA Scalable License images for all Windows versions and all LANSA versions on Microsoft Azure Marketplace."
Deliver all 6 LANSA Scalable License images into the LANSA Azure account and provide Azure Marketplace Submission URLs to the LANSA Architect, This is an interim deliverable, until the images are successfully published in Azure Marketplace the deliverable is not complete.

Consolidates #40 and #44

[2020-08-12 01:40] robe070 opened #46 "P4 Azure Solution Template with all new images as options"

[2020-08-12 02:40] #15 closed, assigned to robe070

[2020-08-12 04:59] robe070 opened #47 "P4 Obtain ScalableStartHere.htm from new directory"
The script which copies the appropriate file to the target destination is `./scripts/install-lansa-scalable.ps1`

This line of code:
[code]

Needs to use Cloud and version major and version minor from registry to access from correct folder

If file does not exist in the derived path, then default to the file in the parent directory. E,g `.\Azure\ScalableStartHere.htm`

[2020-08-12 06:12] robe070 opened #48 "P2 Test that template is using the expected image"
Modify template to output the image version and then check that the image in the VMSS matches the expected image: Offer, SKU and Version.

There is a useful tool that Azure provides to query the properties of a deployment: https://resources.azure.com/

Navigate down to your subscription, resource group and then to VMSS. You will find JSON similar to the extract at the end of this entry. You can se

[2020-08-12 06:55] VarunChopraAccolite commented on #26
hi @robe070
I had modified the script as discussed to use the VmResourceGroup and ImageResourceGroup. Image and the KeyVault uses the ImageResourceGroup.
Please find the SS of the output.

![image](https://user-images.githubusercontent.com/24430923/89984197-9fa7c980-dc96-11ea-91ca-9627c82aa0d4.png)
![image](https://user-images.githubusercontent.com/24430923/89984251-b64e2080-dc96-11ea-9eb4-8a9a9ff

[2020-08-12 10:26] VarunChopraAccolite commented on #48
Additional Notes:
Test the template output against parameters to the template. You have the SKU as a parameter and the version as a parameter. And the LANSA Major Version and Minor Version. Together you can validate against the output values.

[2020-08-12 12:59] VarunChopraAccolite commented on #14
hi @robe070
I did the code changes to verify the image. Please refer the code changes below (kept the coloured output intact with the pipes).
https://github.com/robe070/cookbooks/blob/906541ef413fc08144c1b9524511696125bdcf3b/Tests/TestLicenses.ps1#L39

Please refer the output.
[code]

[2020-08-12 13:33] VarunChopraAccolite commented on #37
Hi @robe070
I had added the code changes to create the separate VM Resource Group "`BakingDp-$(VersionText)`" and create a new Storage Account "`bakingdp$(supportedVersionText)`" in the VM Resource Group. KeyVault and Images are stored in the Image Resource Group - BakingDp. Removing the VM Resource Group will clean up the storage account present in it as well. This is implemented as discussed. Al

[2020-08-13 01:08] #26 closed, assigned to VarunChopraAccolite

[2020-08-13 01:31] robe070 commented on #26
The changes are very good. Exactly as discussed. I have also tested that, with the VM resource group deleted, that a VM may be created from the Image successfully.

[2020-08-13 01:35] robe070 commented on #14
Looks good.

[2020-08-13 01:35] #14 closed, assigned to robe070, VarunChopraAccolite

[2020-08-13 09:09] #40 closed, assigned to nobody

[2020-08-13 09:09] #44 closed, assigned to nobody

[2020-08-13 09:22] robe070 opened #49 "P2 Alter the Default LANSA MSI Depending on LANSA Version"
Alter the Default LANSA MSI Depending on LANSA Version

The default value used for the parameter `msiURL` must change based on which LANSA Version is chosen.

LANSA Version | msiURL
-- | --
V14 SP2 | https://lansalpcmsdn.blob.core.windows.net/app/test/AWAMAPP_v14.2.20715_en-us.msi
V15 GA | https://lansalpcmsdn.blob.core.windows.net/app/test/AWAMAPP_v15.0.0_en-us.msi

It would be ideal if this chan

[2020-08-13 09:45] #37 closed, assigned to VarunChopraAccolite

[2020-08-13 13:53] ashutosh-kumar1 commented on #35
@rob, I have added the initial draft for createUiDefinition.json file with the mainTemplate.json file too. I was able to successfully deploy the template using the output of the createUiDefinition file. Attaching the output json: [output json.txt](https://github.com/robe070/cookbooks/files/5069412/output.json.txt)
I have also added the conditions to hide the database server name and database name

[2020-08-14 04:48] #35 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-08-14 04:52] #30 closed, assigned to robe070, VarunChopraAccolite, knagasekharreddy

[2020-08-14 05:26] robe070 commented on #36
Add remaining parameters in
[code]

[2020-08-14 05:30] VarunChopraAccolite opened #50 "P3 Tests the Template Deployment in the Azure Template Pipeline"
The purpose of this task is to test template post-deployment to stack. Thus, automating the task done in https://github.com/robe070/cookbooks/issues/34

[2020-08-14 05:34] robe070 commented on #36
Security Blade feedback
![image](https://user-images.githubusercontent.com/4089160/90217093-afb0dc00-de43-11ea-96b5-2f740085e688.png)

[2020-08-14 05:44] robe070 commented on #36
Stack Name - length 9. alphabetic plus '-'. (No numerics. No special chars. No space)

All UID/passwords, no space

[2020-08-14 06:02] #42 closed, assigned to nobody

[2020-08-14 06:57] robe070 commented on #24
Issues all addressed by other Issues as noted above, apart from point (3) which I have completed

[2020-08-14 06:57] #24 closed, assigned to nobody

[2020-08-15 12:45] ashutosh-kumar1 commented on #36
Thanks for the inputs @robe070.
The changes have been done and a PR is raised for the same: https://github.com/lansa/azure-quickstart-templates/pull/6
Note: Validation of the 'stack name' field has been done as per its description. Please confirm if I need to update it to the one you have stated above.
Also, I am awaiting list of VM sizes if I need to update the size fields implementation to a dro

[2020-08-15 12:47] ashutosh-kumar1 commented on #49
The changes are done and tested. PR raised for the same: https://github.com/lansa/azure-quickstart-templates/pull/6

[2020-08-17 05:20] #49 closed, assigned to ashutosh-kumar1

[2020-08-17 07:11] robe070 commented on #36
Here is `virtualMachineSize`. I'll do `dbvirtualMachineSize` tomorrow
[code]

[2020-08-17 07:16] ashutosh-kumar1 commented on #43
@robe070, Please provide a description of what needs to be done as a part of this issue?

[2020-08-17 09:45] robe070 commented on #36
Actually, I wonder whether all VM sizes are listed if `allowedSizes` is empty and `excludedSizes` are both empty. Does it show all available sizes in the subscription?

[2020-08-17 09:52] robe070 commented on #43
I get emails when you @mention me. No need to also Slack me too.

This is just about separating out new and existing parameters and improving the validation of related parameters, all of which has been done or is being done.

[2020-08-17 10:40] ashutosh-kumar1 commented on #43
It's my bad. Sorry about that. Will take care of it.

[2020-08-17 11:23] ashutosh-kumar1 commented on #36
Yes, @robe070. It shows all the possible VM sizes and fades out the ones that are not available for the subscription/location. I have implemented and pushed the changes in the PR. Please review and let me know if anything else is required.

[2020-08-17 11:41] robe070 commented on #36
I'm glad that worked. Looks good.

I notice there are properties for the count & SKU too. Please add this:
![image](https://user-images.githubusercontent.com/4089160/90392459-3aa70600-e0d2-11ea-97c8-59ca54e712a5.png)

[2020-08-17 11:57] robe070 commented on #36
This parameter should only appear for `new`
![image](https://user-images.githubusercontent.com/4089160/90393707-9f636000-e0d4-11ea-808e-965efa083b6e.png)

[2020-08-19 05:20] ashutosh-kumar1 commented on #48
@robe070, I have a concern regarding using the version as a part of output.
As per mainTemplate.json, the version is hard-coded as 'latest'. Is there any change required in the template? ![version issue](https://user-images.githubusercontent.com/67790012/90595011-7db7c500-e209-11ea-89be-8206a4d52027.PNG)
I can see the output as 'latest' as well as the VM's Operating system section containing 'late

[2020-08-19 06:08] VarunChopraAccolite commented on #19
hi @robe070
we can move this ticket to Wiki and we can refer from there.

[2020-08-19 06:11] robe070 commented on #48
The template is correct. `latest` MUST be used. Its a validation check.

What have you put in the template output property?
`SQLAZURE1VMSS` template does not contain the correct output code.
`SQLAZURE1-NS` template does not contain the correct output code.

This is required:
[code]

[2020-08-19 06:14] ashutosh-kumar1 commented on #36
@robe070, All the above mentioned changes are incorporated. Are there more changes required as a part of this issue?
If not, please close this issue.

[2020-08-19 06:16] robe070 commented on #48
I've found it in `rgak`

[2020-08-19 06:20] ashutosh-kumar1 commented on #48
Yes Rob, I have resource group 'rgak' created for the same. The output is:
![c2](https://user-images.githubusercontent.com/67790012/90599050-cc695d00-e211-11ea-84be-257368535719.PNG)
And the OS screenshot is:
![VM OS screenshot](https://user-images.githubusercontent.com/67790012/90599135-f1f66680-e211-11ea-96b9-781f42426dc2.PNG)
Now, the query I have is when can we see version value, not as 'lates

[2020-08-19 06:22] ashutosh-kumar1 commented on #43
@robe07, This is also incorporated in the database blade of the solution template. Should this issue be marked as closed?

[2020-08-19 06:29] robe070 commented on #48
Clearly what Azure Resource Explorer returns is what we need. You can only get the template value from within the template.

So can you get that value from Powershell? Is there a cmdlet to query the imageReference?

[2020-08-19 06:36] ashutosh-kumar1 commented on #48
The above mentioned output is obtained by using the below code:
[code]

[2020-08-19 06:42] robe070 commented on #48
Correct.
And I've gone through all the GetAzVmss... cmdlets. Only one returns the value and its `latest`.
So, this can't be done this way. We would have to go back to running a PowershellScript on one of the VMSS  VM instances to return the registry value of VersionText. Like ImageVm.Tests.ps1 does, except don't create a VM. Must query what the template has created.

So now the question becomes ho

[2020-08-19 06:53] robe070 commented on #48
I've found it `Invoke-AzVmssVMRunCommand`

[2020-08-19 06:53] robe070 commented on #48
https://docs.microsoft.com/en-us/powershell/module/az.compute/invoke-azvmssvmruncommand?view=azps-4.4.0

[2020-08-19 06:55] robe070 commented on #48
[code]

[2020-08-19 08:18] VarunChopraAccolite commented on #39
Hi @robe070
This issue should resolve with the use of Pester for the VM tests, and we have dedicated tasks for template deployment in the Azure Pipeline. Let me know if we miss requiring additional functions with this ticket.

[2020-08-19 08:28] VarunChopraAccolite commented on #41
Hi @robe070
We have modified the issue https://github.com/robe070/cookbooks/issues/47 to update the splash screen. Let us know if we require any further changes.
Thanks

[2020-08-19 08:34] VarunChopraAccolite commented on #21
Hi @robe070
I have modified the existing tests file with the below file. Also, the pipeline is modified to Invoke the Pester script, Publish the tests and delete the resource group with successful image build. Please let me know if we require any additional changes and if we are good to close this one.
https://github.com/robe070/cookbooks/blob/2b183c4507203e5284c9eac24599707141b30b94/Tests/ImageVm

[2020-08-19 09:08] ashutosh-kumar1 commented on #48
Thanks for the inputs Rob.

[2020-08-19 10:08] VarunChopraAccolite commented on #38
hi @robe070
The pipeline has the steps to Build the Image, runs the VM Tests. I am attaching the SS. Let me know if we need a discussion to close this one out. I am attaching the SS for the image building and testing automation pipeline.

![image](https://user-images.githubusercontent.com/24430923/90621830-e155e880-e231-11ea-8102-7d702de9fa8c.png)
![image](https://user-images.githubusercontent.com

[2020-08-19 10:11] VarunChopraAccolite commented on #31
Hi @robe070
I had extended the build stage of the release pipeline in the build pipeline itself that publishes the SAS URL as Artifact. We have completed the build pipeline for six images, and we can close this one out. Let me know if we need to work on any additional tasks wrt this issue.

[2020-08-19 17:55] ashutosh-kumar1 commented on #27
@robe070, I need some clarity on the database test section of this issue.
As per the test, I was wondering how to create a database of type MYSQL and MSSQLS.

I googled out and could find the below link which seems to create a MYSQL database:
https://docs.microsoft.com/en-us/azure/mysql/quickstart-create-mysql-server-database-using-azure-powershell
But I couldn't proceed with it as I was unable to

[2020-08-20 02:54] robe070 commented on #19
Moved to Wiki

[2020-08-20 02:54] #19 closed, assigned to VarunChopraAccolite, ashutosh-kumar1, knagasekharreddy

[2020-08-20 02:56] #39 closed, assigned to robe070

[2020-08-20 02:59] robe070 commented on #41
A change is required to throw a fatal error if the Cloud/version combination does not exist. The current coding will hide the omission. Much better to know the issue has occurred upfront.

[2020-08-20 03:06] #21 closed, assigned to robe070, VarunChopraAccolite

[2020-08-20 03:07] #38 closed, assigned to robe070, VarunChopraAccolite

[2020-08-20 03:08] #31 closed, assigned to robe070, VarunChopraAccolite

[2020-08-20 04:03] robe070 commented on #27
Here are the instructions on how to create a SQL Server server in the portal.
https://docs.microsoft.com/en-au/azure/azure-sql/virtual-machines/windows/create-sql-vm-portal

There is also a PowerShell method provided.

I think a template may be the best option. I've added sqlServerTemplate.json to the template repo. I created this from using the Portal option and then saving the resultant template

[2020-08-20 04:07] robe070 commented on #27
For MySQL, Azure provides a template:
https://docs.microsoft.com/en-us/azure/mysql/quickstart-create-mysql-server-database-using-arm-template?tabs=azure-portal

[2020-08-20 04:18] ashutosh-kumar1 commented on #27
@robe070, I can see the instruction https://docs.microsoft.com/en-au/azure/azure-sql/virtual-machines/windows/create-sql-vm-portal creates a VM with SQL server rather than a database.
Yesterday, I also went through the other link you mentioned: https://docs.microsoft.com/en-us/azure/mysql/quickstart-create-mysql-server-database-using-arm-template?tabs=azure-portal. The issue here again is the one

[2020-08-20 05:11] robe070 commented on #27
If you instantiate a MySQL instance through the portal then it throws a permissions error. I'm working through fixing that.

I expect SQL Server is the same. I'll also ensure that you can create a SQL Server database

[2020-08-20 06:09] robe070 commented on #27
So you can now create an Azure Database for MySQL and an Azure SQL Server Virtual Machine.

[2020-08-20 06:17] robe070 commented on #27
MySQL
![image](https://user-images.githubusercontent.com/4089160/90723721-9ce54e00-e300-11ea-9a0a-a4472002d122.png)

[2020-08-20 06:25] ashutosh-kumar1 commented on #27
@robe070, Thanks for fixing the permission issue on priority. I will try creating a MYSQL database and test the template as required.
Can you share some information regarding the MSSQLS database type?

[2020-08-20 06:26] robe070 commented on #27
MSSQLS (Azure SQL Server Virtual Machine) is also working as per my previous post above.

[2020-08-20 06:27] ashutosh-kumar1 commented on #27
Thanks 👍

[2020-08-20 06:35] robe070 commented on #27
@ashutosh-kumar1
MySQL needs the database to be manually created. Follow this: https://docs.microsoft.com/en-us/azure/mysql/quickstart-create-mysql-server-database-using-azure-portal

I suggest you use the powershell cmdlet to run a script on the MySQL server. Its a linux VM and it should have PowerShell installed so you can use
[code]

If that does not work, then you may use `RunShellScript` inst

[2020-08-20 06:37] robe070 commented on #27
MySQL
Note: that the connection security option to allow access to all Azure Services should be a change made in the template. Template to be stored in `lansa/azure-quickstart-templates` repo.

And when changing it in the portal its already taken 25 minutes and has not completed yet!

[2020-08-20 06:44] robe070 commented on #27
SQL Server
Note that the deployment will automatically create a database if it does not already exist.

I have successfully deployed to my SQL Server Virtual Machine.

[2020-08-20 07:45] #46 closed, assigned to ashutosh-kumar1

[2020-08-20 07:45] #47 closed, assigned to knagasekharreddy

[2020-08-20 07:49] robe070 commented on #27
@ashutosh-kumar1
The manual MySQL Deployment and url test has been successful

[2020-08-21 01:31] robe070 opened #52 "P4 Provide backup of the Azure DevOps Pipeline configuration"

[2020-08-21 01:59] robe070 opened #53 "P4 Document Pipeline usage"
Provide a summary of both the Image pipeline usage and the Template pipeline usage, in terms of what triggers what and the manual checks and interventions required.

[2020-08-23 19:16] ashutosh-kumar1 commented on #27
Hi @robe070,
I have modified the template file that you had added to enable it to pass the arm-ttk test cases.

I have also created a template to create MYSQL server, as well as database from a single template. No additional step needs to be performed. Moreover I have taken care to set allow connection to azure services to 'yes' for the server created (Refer resource group: mysql1Test). Also teste

[2020-08-24 03:47] VarunChopraAccolite commented on #41
Hi @robe070
Please review the changes done and let us know your comments.
https://github.com/robe070/cookbooks/pull/55

[2020-08-24 05:28] robe070 commented on #27
@ashutosh-kumar1 MySQL deployment looks correct. I'll presume you need to rebase the PR before merging.

[2020-08-24 05:29] robe070 commented on #27
I'm deploying MSSQLS and expect it to complete at about 4 pm AEST

[2020-08-24 05:36] VarunChopraAccolite commented on #27
hi @robe070
Regarding the below point, we generate the Resource Group appended with the Build Number, to retain the fail build. Below change won't be required in that case. Let me know your inputs on this one.

- If the resource group exists already it must be deleted.

[2020-08-24 05:50] robe070 commented on #27
@VarunChopraAccolite So the resource group is unique for each build and thus should never exist? And if it does, then its not owned/created by the pipeline and thus should not be deleted.

Agreed.

[2020-08-24 06:17] robe070 commented on #27
@ashutosh-kumar1

There was an error in a parameter. Now fixed and redeploying. ETA 4:45 AEST

[2020-08-24 06:18] VarunChopraAccolite commented on #27
yes @robe070 in case of success scenarios it will delete the Resource Group, the Resource Group will be available for review in case of failure mode where the deletion based on tagging will come into place.

[2020-08-24 06:58] robe070 commented on #27
@ashutosh-kumar1
My MSSQLS test has succeeded...

Attached parameters file for the sqlServerTemplate.json. (Extension `.txt` so that github accepts it)
[parameters.json](https://github.com/robe070/cookbooks/files/5116240/parameters.txt)

Also the sqlServerTemplate.json file I used, which should be identical to the one that you've fixed.
[sqlServerTemplate.json](https://github.com/robe070/cookbooks

[2020-08-24 08:18] ashutosh-kumar1 commented on #27
Thanks a lot @robe070.

[2020-08-24 20:39] ashutosh-kumar1 commented on #27
Hi @robe070,
I was unable to output the public IP address at the time of MSSQLS deployment. This is probably because the IP allocated is dynamic and is available in resources.azure.com but not available at the time of deployment.
Please find below the screenshot available in resources.azure.com
![public ip details](https://user-images.githubusercontent.com/67790012/91093282-dad2d100-e676-11ea-8239

[2020-08-24 23:58] robe070 commented on #27
@ashutosh-kumar1
Yes, use the cmdlet post-deployment.

[2020-08-25 02:40] robe070 commented on #36
Azure Support have identified the issue with custom parameters being drawn at the top of the Basic blade - you have been using the incorrect tool. This is the correct tool:

https://portal.azure.com/?feature.customPortal=false#blade/Microsoft_Azure_CreateUIDef/SandboxBlade

So, we need to re-arrange the parameters a little the way that I originally intended.

These 3 fields to be moved to the Basi

[2020-08-25 05:54] ashutosh-kumar1 commented on #36
Hi @robe070,
I have updated the createUiDefinition file. Please verify the updated file [createUiDefinitionUpdated.txt](https://github.com/robe070/cookbooks/files/5121548/createUiDefinitionUpdated.txt)

I would also like to add that I was successfully able to validate the template by reaching the review+create screen but I can see some yellow lines in my VS code. Hope it should not be an issue.
![

[2020-08-25 07:09] robe070 commented on #36
@ashutosh-kumar1
Looks good, except please move Minimum Instance Count to where it was below the VM sizes

[2020-08-25 07:10] ashutosh-kumar1 commented on #36
@robe070, Also, verify the position of minimum instance count above the VM sizes. This is because I was getting an error on console when I placed it below the VM sizes. This may be caused as the VM size is dependent upon its value.
Can we put the instances count above? i.e. also put the maximum count above the sizes?

[2020-08-25 07:11] robe070 commented on #36
@ashutosh-kumar1
I wonder if the error is just a Sandbox error? Have you tried running it in the Azure Portal?

[2020-08-25 07:14] ashutosh-kumar1 commented on #36
No. @robe070, can you guide me on how to verify it in the Azure Portal?
The minimum instance block code needs to be cut and then pasted between the dbVMSize and maximum instance count and verified. Attaching error:
![console error for UI](https://user-images.githubusercontent.com/67790012/91144419-9f192500-e6d1-11ea-8297-aba440a44a6b.PNG)

[2020-08-25 07:24] robe070 commented on #36
I cannot find a way to verify it apart from this Sandbox, the ARM TTK and thence once its in Preview running in the Portal.

Have you run the ARM TTK?

[2020-08-25 07:31] robe070 commented on #36
I've reconsidered after seeing your screen NOT show the Virtual Machine parameters, and the error you are seeing.

Please reinstate the Virtual Machine blade.

But leave the Stack Name, LANSA Version and MSI URL on the Basics blade.

[2020-08-25 07:33] robe070 commented on #36
ps I have an ongoing Azure support query to clarify how a Solution Template may be run entirely from the command line.

[2020-08-25 07:33] ashutosh-kumar1 commented on #36
ARM TTK is running successfully for both the positions of minimum instance count. Also, the template is returning proper JSON.  I think the console error can be ignored.
Adding few observations:
1. The VM size will take some time to load and grey out for a short duration when the screen loads for the first time. The same happens on changing the region.
2. Updated the default branch to support/scal

[2020-08-25 07:38] ashutosh-kumar1 commented on #36
As per my screen resolution, yes the other parameters are not visible and need to be scrolled to edit.
Should I reinstate the Virtual Machine blade?
@robe070, Please confirm.

[2020-08-25 07:38] robe070 commented on #36
@ashutosh-kumar1
Well if it looks like its working, then the issue left is the screen real estate. Is there enough?

I think you should commit it with everything on the Basics blade, and I'll see how it looks on various monitor sizes.

[2020-08-25 07:39] robe070 commented on #36
...becasue the Sandbox may be using less screen than when its running in the Portal

[2020-08-25 07:40] ashutosh-kumar1 commented on #36
Sure @robe070. Let me commit it as VM parameters in the Basic blade. Please verify in the preview phase and provide me feedback for changes required.

[2020-08-25 07:51] robe070 commented on #36
@ashutosh-kumar1
Will you submit the PR soon?

[2020-08-25 08:03] ashutosh-kumar1 commented on #36
@robe070, PR submitted. Please review and merge. Validations might fail in pipeline for now as the newly added test image version task is failing. Please approve.

[2020-08-25 08:31] robe070 commented on #36
@ashutosh-kumar1
Approved.

[2020-08-25 08:33] robe070 commented on #36
@ashutosh-kumar1
I'm about to go into a long meeting and need to grab some dinner first. Could you create a zip file with the UI and template in it only and send it to me ASAP and I may be able to submit it to AMP before 7 pm ( 27 mins)

[2020-08-25 08:57] robe070 commented on #36
@ashutosh-kumar1
I've found time to do it myself, so no need for the zip file

[2020-08-25 09:00] robe070 commented on #36
@ashutosh-kumar1
I've submitted the updates to AMP. It should take less than 2 hours to get to preview. I'll check after my meeting after 9 pm

[2020-08-25 09:06] ashutosh-kumar1 commented on #36
@robe070, Just saw your message. Was out for lunch. Sorry about that. Thanks for submitting the zip. Please update me if any changes are required post verification.

[2020-08-25 13:24] ashutosh-kumar1 commented on #27
Hi @robe070,
I have added a commit to feature/azure-images branch of cookbooks repo to create the SQL databases. Please review: https://github.com/robe070/cookbooks/commit/ad0f7fac38bd4f5e86e7b442a9c046129d9d4db5
It will accept MYSQL or MSSQLS as input params and create the database using the lansa\azure-quickstart-templates repo.

Please merge the pull request: https://github.com/lansa/azure-quic

[2020-08-26 04:01] robe070 commented on #43
There has been an omission. The database type parameter in the UI needs to be displaying the options as "SQL Server", "Azure SQL Database", and "MySQL". Can this be done in the UI with mapping to the actual template parameter values? Or does the template need to be changed to accept these values and have the mapping done in the template? It would be better for the former if there is lots of usage

[2020-08-26 05:02] ashutosh-kumar1 commented on #43
@robe070, Yes, the changes can be made in the template file where the list and values visible in the UI will be as mentioned above but the values passed will be the one the parameter file accepts.
One more confirmation is needed. Currently, on selecting 'new' in the 'Database New/Existing' field, the 'database type' field is hidden. This is because we will only create an Azure SQL database in this

[2020-08-26 05:07] VarunChopraAccolite commented on #27
hi @robe070
Please update the combination test SQLAZURE6 for column 6 to use a different combination than WAF_v2.
CC: @knagasekharreddy
Thanks

[2020-08-26 06:12] VarunChopraAccolite commented on #41
hi @robe070
Please let us know if anything additional is required or we can close the ticket.
Thanks

[2020-08-26 06:32] #41 closed, assigned to VarunChopraAccolite, knagasekharreddy

[2020-08-26 06:45] robe070 opened #56 "Azure Template: Support new Application Gateway Tiers and options"
Support the Application Gateway V2 tiers. Provide parameters similar to the default Portal Add AG blade as shown below:

![image](https://user-images.githubusercontent.com/4089160/91269923-3908cc80-e7bb-11ea-96e6-9852fdbd9856.png)

[2020-08-26 06:46] robe070 opened #57 "P2 Remove WAF_V2 SKU from template"
This is incorrect. It has never been tested. So remove it for now. #56 will address the issue in the future.

[2020-08-26 06:52] robe070 commented on #27
@VarunChopraAccolite
SQLAZURE6 WAV_V2 test case altered in table in first comment above.

[2020-08-26 06:54] robe070 opened #58 "P3 Remove VM VHD when creating an image"
modify `bake-ide-ami.ps1` to delete the VHD before creating the VM so that repeat builds are always successful without requiring external deletions.

[2020-08-26 08:06] ashutosh-kumar1 commented on #57
@robe070, Changes done and pull request raised for the same. Please review and merge : https://github.com/lansa/azure-quickstart-templates/pull/12

[2020-08-26 12:17] VarunChopraAccolite commented on #58
Hi @robe070
The code changes are in place. Please refer to the below commit and let me know your comments. Let me know if any further changes are required or we can close this one.
https://github.com/robe070/cookbooks/commit/e914925005a469f3d0c8e77524529b3bd8b764cc

[2020-08-26 20:29] ashutosh-kumar1 commented on #57
@robe070, Let me know if any additional changes are required as a part of this issue or else please close it.

[2020-08-26 20:32] ashutosh-kumar1 commented on #43
@robe070, The required changes were done as a part of PR: https://github.com/lansa/azure-quickstart-templates/pull/10. Please let me know if anything else needs to be done as part of this issue. Please close this if the requirements are met.

[2020-08-26 20:33] ashutosh-kumar1 commented on #36
@robe070, Awaiting feedback for any further required changes.

[2020-08-26 22:48] #58 closed, assigned to robe070, VarunChopraAccolite

[2020-08-26 22:50] #57 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-08-26 22:50] #43 closed, assigned to nobody

[2020-08-27 03:11] robe070 commented on #36
@ashutosh-kumar1
`Virtual Machine Size` => `App Virtual Machine Size`
`Db Machine Size` => `DB Admin Virtual Machine Size`
![image](https://user-images.githubusercontent.com/4089160/91379681-93ab3280-e866-11ea-842f-e4e77922816f.png)

Mispelling `certificate`
![image](https://user-images.githubusercontent.com/4089160/91379616-6e1e2900-e866-11ea-93eb-8b42cf78be27.png)

Move these parameters to the b

[2020-08-27 03:49] VarunChopraAccolite commented on #10
`| Out-Host` should also be replaced with `| Out-Default | Write-Host`

[2020-08-27 05:30] robe070 opened #60 "Chocolatey download and install failures"
### Defect
It is quite common to have Chocolatey download and install failures. So a solution is required to remove this failure from the AWS and Azure CI pipeline.

### Azure DevOps Artifact Solution (Preferred)
Investigate the potential of using an Azure DevOps Artifact nuget upstream package manager to cache installs that are currently obtained from Chocolatey. Can these be accessed from the VM

[2020-08-27 05:50] robe070 opened #61 "Increase Application VMSS maximum capacity to 600 instances"
The capacity of the application VMSS is currently capped at 100 instances as that was once the Azure recommendation. It has now increased to 600.

Also need to increase the UI and template Maximum Instance Count constraint to MAX 600.

[2020-08-27 07:34] robe070 opened #62 "Cannot RDP in until user's IP address has been added to the Network Security Group"
Add a list of IP addresses for RDP as a parameter to the baking script so that when run from the pipeline its easy to investigate errors.

[2020-08-27 07:36] ashutosh-kumar1 commented on #36
@robe070, PR is raised for the above-mentioned changes. Please review and merge: https://github.com/lansa/azure-quickstart-templates/pull/13

[2020-08-27 08:32] #36 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-08-27 14:57] VarunChopraAccolite commented on #10
`Out-Default | Write-Host | Write-Verbose` should also be replaced with `Out-Default | Write-Host`

[2020-08-27 15:20] VarunChopraAccolite commented on #53
Hi @robe070
Please review the [Lansa Pipelines: Usage Documentation](https://docs.google.com/document/d/1_OcxiP7YtCyktd_Gz79NupoFPTtW2pjpS5icTbE8aP8/edit#heading=h.x58cfto9e3yn) and let me know your comments.

Thanks

[2020-08-27 15:22] VarunChopraAccolite commented on #48
Hi @robe070
The code is incorporated in the Azure Pipeline - Template Build Pipeline. Please review and let me know your comments for any further changes.

Thanks

[2020-08-28 03:51] robe070 commented on #48
I can see that the Template Build Pipeline tests it correctly.

I can see that the Image Release Pipeline has code to test it, but I've not found a job that has run the test. Please provide example of at least 1 image/template test thats NOT w12r2d142. Preferably a whole run. Whenever a template test is performed there should be a check to ensure the VMSS is using the expected image.

[2020-08-28 11:01] VarunChopraAccolite commented on #53
hi @robe070
I had completed the review comments. Please let me know if any further changes are required.

Thanks

[2020-08-28 14:24] VarunChopraAccolite commented on #10
Hi @robe070
The changes are checked in. Please let me know if anything further is required and we can close this issue.

[2020-08-29 02:40] #10 closed, assigned to knagasekharreddy

[2020-08-30 02:27] VarunChopraAccolite commented on #50
hi @robe070
This step is already covered in the Pipeline in the form of URL tests and Version Tests.

Thanks

[2020-08-30 02:30] VarunChopraAccolite commented on #27
hi @robe070
The Template Regression Tests are up and running in the Template release pipeline. Also, the changes are in place across the pipelines to tag the resource group `Usage=test-temp` and delete on the successful run.

![image](https://user-images.githubusercontent.com/24430923/91649942-c9366280-ea96-11ea-99e0-fb54a3c0c0bb.png)

Thanks

[2020-08-30 02:34] VarunChopraAccolite commented on #48
hi @robe070
The Image Release Pipeline [Release 36](https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_apps/hub/ms.vss-releaseManagement-web.cd-release-progress?releaseId=138&_a=release-pipeline-progress) covers 2012, 2016 images and [Release 37](https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_apps/hub/ms.vss-releaseManagement-web.cd-relea

[2020-08-30 02:36] VarunChopraAccolite commented on #13
hi @robe070
The Image Release Pipeline [Release 36](https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_apps/hub/ms.vss-releaseManagement-web.cd-release-progress?releaseId=138&_a=release-pipeline-progress) covers 2012, 2016 images and [Release 37](https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_apps/hub/ms.vss-releaseManagement-web.cd-relea

[2020-08-30 06:20] VarunChopraAccolite commented on #52
Hi @robe070
I had placed the Pipelines export in the source control. We can restore the Pipeline in the Azure DevOps by selecting the Import option. Please review and let me know your comments.
https://github.com/robe070/cookbooks/pull/69

Thanks

[2020-08-30 06:22] VarunChopraAccolite commented on #23
hi @robe070
The Template Build Pipeline and Release Pipeline is up and running. Let me know if you need any further changes.

Thanks

[2020-08-30 06:22] VarunChopraAccolite commented on #22
hi @robe070
The Image Build Pipeline and Release Pipeline is up and running. Let me know if you need any further changes.

Thanks

[2020-08-31 03:36] #50 closed, assigned to VarunChopraAccolite

[2020-08-31 03:38] #27 closed, assigned to knagasekharreddy

[2020-08-31 03:44] #48 closed, assigned to robe070, VarunChopraAccolite

[2020-08-31 09:23] VarunChopraAccolite commented on #53
hi @robe070
I had completed the review comments. Please let me know if any further changes are required.

Thanks

[2020-08-31 09:41] ashutosh-kumar1 commented on #52
Hi @robe070,
I have added a commit to update the JSON files with the latest pipeline export. Please merge: https://github.com/robe070/cookbooks/pull/69

[2020-08-31 11:02] #52 closed, assigned to nobody

[2020-08-31 11:06] #13 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-08-31 11:06] #23 closed, assigned to nobody

[2020-08-31 11:06] #22 closed, assigned to VarunChopraAccolite

[2020-09-01 00:36] #53 closed, assigned to robe070, VarunChopraAccolite, knagasekharreddy

[2020-09-01 03:45] robe070 opened #71 "PaaS Pipeline to periodically replace Windows instances to stop password expiry"
The Windows password expires after about 12 weeks. The easiest way to update it is simply to delete every VM and re-create it. Sounds a little brutish, but it means that the password remains retrievable from the AWS portal. And, potentially, if the image has been updated, also apply Windows Updates. In fact, once there is an image pipeline, then it would make sense to also re-construct the PaaS en

[2020-09-01 07:00] robe070 opened #72 "Image Build pipeline often fails to build all 6 images due to VM provisioning error of test VM"
If all 6 images are built at the same time, some will fail to be properly created and thus the VM created as part of the test fails to provision.

So what kind of serialisation can we enforce on the creation of the images. Just the part that takes the generalised VM and creates an image from it.

One work around might be to duplicate the Image Build pipeline and build 3 and 3 with, say, 10 min del

[2020-09-03 01:33] robe070 opened #73 "Post: Image Release pipeline using incorrect branch for Preview tests"
As per the Wiki - DevOps branching - and now added to the documentation, Preview test need to be run on the patch/paas branch.

Note that Integration test uses debug/paas, which is correct
Note that Production test uses the default branch - support/scalable - which is correct

[2020-09-04 00:43] robe070 opened #74 "Post: Image Release pipeline production test failing on 2 images"
artifact path incorrect. Fixed in both pipeline #Release-38 and the main pipeline definition

[2020-09-04 00:44] #74 closed, assigned to robe070

[2020-09-07 05:41] ashutosh-kumar1 commented on #73
@robe070, Preview test branch for image release pipeline updated to patch/paas.
Also raised a PR for updating the pipeline backup in cookbooks repo: https://github.com/robe070/cookbooks/pull/75. Please verify and merge the PR.

[2020-09-07 07:07] #73 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-09-11 06:35] #45 closed, assigned to nobody

[2020-09-15 02:04] robe070 opened #76 "Integrate Azure Key Vault into v2 Application Gateway"
Integrate Application Gateway with Azure Key Vault to store, retrieve and renew certificates.

Requirements:
1. Key Vault must have parameter -enabled-for-template-deployment set to true.
2. The Key Vault is created and managed external to the LANSA template
2. The SSL Certificate will be a Key Vault Certificate.
3. The SSL Certificate password will be a Key Vault Secret.
4. It is expected that th

[2020-09-15 02:42] robe070 opened #77 "Update Azure Application Gateway to v2"
Update the Azure Application from Gateway v1 to V2. Note: standard v2 and WAF v2 SKUs must be provided for in one template.
Replace v1 parameters with v2 parameters.

Use the Azure Portal Application Gateway UI as a guide for the parameters to prompt for.

[2020-09-15 02:45] robe070 commented on #77
Duplicate

[2020-09-15 02:45] #77 closed, assigned to nobody

[2020-09-15 07:49] robe070 opened #78 "Publish CloudFormation Template using current Win Server 2012 image"
Ref: [AMI-based delivery using AWS CloudFormation](https://docs.aws.amazon.com/marketplace/latest/userguide/cloudformation.html) ...and note the need to use the [template testing tool](https://github.com/aws-quickstart/taskcat)

Take the existing [LANSA CloudFormation template]( https://raw.githubusercontent.com/robe070/cookbooks/debug/paas/CloudFormationWindows/lansa-win-custom.cfn.template)
...a

[2020-09-16 02:32] robe070 opened #79 "AWS template: Package up settings into ‘Shoe Sizes’"
Simplify template parameters into fixed sets of parameters for small, medium and enterprise stacks. Plus a custom set of parameters to allow all parameters to be modified, as now.

Also include dev & test options.

This may be implemented using parent nested template(s) to call the existing custom template.
	* Publish 5 separate shoe-size parent templates which call a url in S3 for the main templa

[2020-09-16 02:41] robe070 opened #80 "Build & test windows Server 2012, 2016, and 2019 images for v14.2 and v15"
Copy and then modify the existing Azure LANSA Images on-demand CI pipeline to construct & test all the AWS images.

The template will also require modifying to add Windows 2019 to the possible choices. The key to this change is adding to the mapping `AWSRegionArch2AMI`.

[2020-09-16 02:55] robe070 opened #81 "Create AWS template CI pipeline"
Implement similar functionality to the Azure template CI pipeline

[2020-09-16 02:58] robe070 opened #82 "Create AWS template CD pipeline"
Implement a pipeline to test the deployment of the AWS templates through the AWS Marketplace process. Similar functionality to the existing Azure Template CD pipeline is required.

[2020-09-16 03:00] robe070 opened #83 "Create AWS image CD pipeline"
Implement a pipeline to test the deployment of the AWS images through the AWS Marketplace process. Similar functionality to the existing Azure Images CD pipeline is required.

[2020-09-16 03:07] robe070 opened #84 "Update Lansa Pipelines: Usage Documentation"
Update the existing pipeline usage document to reflect the AWS pipelines.

[2020-09-16 04:48] robe070 opened #85 "Allow an existing VPC to be selected or add a new VPC"
Allow the user to choose an existing VPC or add a new VPC with appropriate access control lists (ACLs) and security groups.

The pattern to use would include something like the following:
[code]
The parameter “CreateVPC” is to let user select whether to create a new VPC, and second parameter “CurrentVPC” is to let user select VPC if they don’t want to create a new VPC. And then you use condition i

[2020-09-16 05:16] robe070 opened #86 "Submission Requirements"
Ref: https://docs.aws.amazon.com/marketplace/latest/userguide/aws-marketplace-ug.pdf pp 69-73.

Product Load Form is in `robe070\cookbooks\Marketplace\LANSA Scalable License\AWS\Scalable_Stack_Win_Metadata Form.xslx`

- Update CCS 163279 readme with overview of the project and/or create more CCS for the readmes.

- Modify AWS Splash screens with the URL of the CAR template, or remove the url altog

[2020-09-16 05:28] robe070 opened #87 "Add all regions to CF template"
Add new Regions to template:
[code]
A small task.
These are the mappings that will need to be updated with the new regions:

[code]

[2020-09-16 05:28] robe070 opened #88 "Update list of EC2 instance types in CF template"
Update EC2 instance types to include latest additions which are appropriate for LANSA and match the image instance types.

Architect to provide list.

Small task

**Arrange instance types in alphabetical order.**

Current template parameter - **13DBInstanceClass**
List needs to be updated. Add the following instance types:
[code]

Remove the following instance types:
[code]

Current template param

[2020-09-22 04:24] robe070 opened #89 "Marketplace Certification feedback"
![image](https://user-images.githubusercontent.com/4089160/93843940-f9ac9d80-fcde-11ea-9990-8caf5a79e2a9.png)

![image](https://user-images.githubusercontent.com/4089160/93843957-04673280-fcdf-11ea-83b3-50fcbacb44be.png)

![image](https://user-images.githubusercontent.com/4089160/93843973-1052f480-fcdf-11ea-87ea-25e8ad69fa30.png)

![image](https://user-images.githubusercontent.com/4089160/93843990

[2020-09-25 00:43] robe070 commented on #89
@VarunChopraAccolite @ashutosh-kumar1
When are you planning on working on this issue?

[2020-09-25 04:31] ashutosh-kumar1 commented on #89
Hi @robe070,
I will work on it today.

[2020-09-25 07:21] ashutosh-kumar1 commented on #89
Hi @robe070,
We went over the comments. We are currently working on the 1st and 2nd comments mentioned in the screenshot above. Please provide some clarity on the 3rd and 4th comments. Do they mean adding the files in the solution template? We are not sure how we can use them if added to the solution template. It might require additional changes in the pipeline once the changes in the zip file are

[2020-09-27 23:37] robe070 commented on #89
The files must be uploaded as part of the Solution Template submission. And the template needs to refer to them within the package. I do not know how to refer to an artifact in a package. You will need to work it out.

[2020-09-28 07:19] #28 closed, assigned to nobody

[2020-09-28 07:59] robe070 commented on #72
A dialog has occurred with Azure Support who have suggested the following in the attachment. Investigate their recommendations and report back:
[Sysprep Email.pdf](https://github.com/robe070/cookbooks/files/5290732/Sysprep.Email.pdf)

[2020-09-28 08:38] ashutosh-kumar1 commented on #89
@robe070, We get an understanding to use the nested templates and hope that the same logic should work in our case. We see two examples for using the relative path to access the resources in the Azure QuickStart Template Github repository. We see that the provided solutions will be tested only post-deployment (using relative URLs). It will fast forward if we can get confirmation from the Microsoft

[2020-09-29 00:17] robe070 commented on #89
Quickstart templates are not Solution templates. There is no script run with Solution Templates. There may be an answer somewhere and I cannot find it. And the reviewer of the template is not responding to questions.

So, I have reviewed the details of uri usage in the template. The script `git-pull.ps1` is already located on the VM and does not need to be downloaded. Where `gitRefreshName` is use

[2020-09-29 05:39] ashutosh-kumar1 commented on #89
@robe070, Review comments incorporated and verified by running it locally.
The changes for createUIDefinition file verified at:
https://portal.azure.com/?feature.customPortal=false#blade/Microsoft_Azure_CreateUIDef/SandboxBlade
Also, the arm ttk testing verified locally.
PR raised: https://github.com/lansa/azure-quickstart-templates/pull/14

[2020-10-09 04:05] robe070 opened #90 "Recycle instances periodically to 'refresh' the windows password expiry"
The administrative password on Windows instances on AWS expires after 3 months making the instances inaccessible.

This task is to set a parameter in the Auto Scaling Groups to automatically terminate the instances and re-create them.

The CF template ASG property is `MaxInstanceLifetime`.

For the DB ASG set the value to 61 days or 5,270,400 seconds.
For the Web ASG set the value to 67 days or 5,

[2020-10-09 04:13] robe070 commented on #71
See #90 for the template change required to do this automatically.

[2020-10-09 05:36] robe070 commented on #71
The PaaS ASGs have been manually updated to use this setting, but the template still needs to be brought up to date otherwise the next time its used to update a stack, the setting will be lost.

The script used to manually update is `ChangeInstanceLifetime.ps1`

[2020-10-21 01:16] robe070 opened #91 "Install LANSA licenses from PFX files in AWS Parameter Store"
Install the LANSA Licenses in the AWS images.

The files now exist in the AWS Parameter Store. Each license is in a separate parameter named after the name of the file. So the file `LANSAScalableLicense.pfx` is stored as the parameter `LANSAScalableLicense.pfx`. Its value is in Base64. Its also encrypted using a KMS key, but that is transparent to the user, provided the permissions are set up corr

[2020-11-04 00:54] #89 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-11-04 00:54] #11 closed, assigned to VarunChopraAccolite, ashutosh-kumar1

[2020-11-09 02:49] robe070 opened #92 "Make use of the DB VMSS in the work load"
Always use Standard Load Balancer and make both VMSS use the one LB

Currently there are two Basic Load Balancers; one for each VMSS.

This Issue is to change the LB to Standard and have the ONE LB direct traffic to BOTH VMSS.

[2020-11-11 03:23] robe070 commented on #56
Note this documentation here https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2019-09-01/applicationgateways

And the possible values of SKU Name. What it does not say is that for V2 Tiers, the SKU Name is identical to the Tier. And that the4 SKU Names which start with 'Standard' are only valid for use when Tier = Standard, and WAF_Medium and WAF_Large SKUs are only valid when Ti

[2020-11-11 04:05] robe070 commented on #56
Also note the reference to 'and options' in the title. These settings are specific to choosing a V2 Tier:
![image](https://user-images.githubusercontent.com/4089160/98764075-25bae400-242f-11eb-880b-a235962fbf77.png)

The defaults should be the same as the Portal defaults - that is the same as in the image supplied.

All of these parameters need to be prompted for in the template.

[2020-11-13 06:05] robe070 commented on #60
I cannot see a way to have an upstream source in an Artifact Feed. Documentation shows it, but its not there in the current interface, that I can see.

So, lets move ahead with manually uploading the current Chocolatey packages, which I will do, and then modify the Image build scripts to access the `choco` Azure DevOps Artifacts Feed instead of the public Chocolatey feed.

This link describes my r

[2020-11-13 07:12] robe070 commented on #60
All packages have been uploaded to the Azure DevOps Artifacts Feed called `choco`.

Coding may be fully completed.

[2020-11-13 08:48] knagasekharreddy commented on #25
Hi @robe070 where i need to find storage account in `mainTemplate.json` & `CreateUIDefination.json` files there is no Storage account please help on this.

[2020-11-16 04:03] robe070 commented on #25
There are no storage accounts. I have modified the title only. The description is still correct.

[2020-11-16 06:01] ashutosh-kumar1 commented on #61
PR raised for this issue: https://github.com/lansa/azure-quickstart-templates/pull/17.
@robe070 The issue can now be closed as the PR is merged.

[2020-11-16 06:04] #61 closed, assigned to ashutosh-kumar1, srinivasp898

[2020-11-17 02:28] ashutosh-kumar1 commented on #56
@robe070 , Need clarity regarding the Availability zone option.  I saw some examples containing the zones as an array of numeric string. Can you please specify the values w.r.t the dropdown? The other options can be implemented.
Adding example link: https://github.com/lansa/azure-quickstart-templates/blob/support/scalable/101-azurefirewall-create-with-zones/azuredeploy.json

[2020-11-17 04:05] robe070 commented on #56
It must behave like the portal https://portal.azure.com/#create/Microsoft.ApplicationGateway. That includes the hints.
Note the descriptions are Zone 1, Zone 2, Zone 3.
You will need to use a multi-select dropdown in the UI:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/microsoft-common-dropdown

It looks like there are either 3 Availability Zones or None. E.g.

[2020-11-17 04:10] robe070 commented on #56
I would like to dynamically populate the Dropdown like the Portal does, but its not clear how to get a list of availability zones. This UI element would probably the one : Microsoft.Common.ArmApiControl or the Resource Selector.

[2020-11-18 22:47] ashutosh-kumar1 commented on #56
@robe070 , Please find attached the createUiDefinition file. The implementation of the zone would need to contain 'None' in the dropdown and would be the default value(could not find a way to not use a default value on load. Also the default value is expected to be from the list). The user will need to uncheck it and select the other zones if they want those zones to be considered.
Also, if 'None'

[2020-11-19 00:55] robe070 commented on #56
Can you not validate that if "0" is in the list then nothing else must be in it? You have implemented other validations previously.

Otherwise if, say, None and Zone 1 were selected, then "0", "1" are passed to the template. You will then check if the first value is "0" and if so the Availability Zones parameter will be set to empty, otherwise the whole value will we used?

I think it would be bet

[2020-11-19 03:33] robe070 commented on #56
The tooltips for the AG parameters need to be changed to be the same as the Portal. I've provided them here as some text change is required. I'll also send the text in an email so that you get the url markup, not as its rendered.:

**Tier**: The v2 tiers offer performance enhancements and support for some critical new features. Choose a WAF tier to support Web Application Firewall on this Applicat

[2020-11-19 18:22] ashutosh-kumar1 commented on #56
@robe070 , PR raised for the above-mentioned changes. The default value for 'label' and 'value' options of the field zone is set to ''(empty string). As observed default value is returned as String type and not array type. Also, for 'availabilityZone' field string type will not be accepted in the 'mainTemplate' as it is expecting an array and therefore the template validation will fail.

Expecting

[2020-11-20 02:27] robe070 commented on #18
Overview
The starting point is that the Basics blade will have these parameters, as are currently presented:

Then there is a single drop down parameter:
Stack Size which has the values Development, Test, Small, Medium, Large and Custom. All other parameters on all other blades are hidden except for the entire Security blade and the Database Login and Password on the Database Blade. Highly prefera

[2020-11-20 02:28] robe070 commented on #17
See Issue #18 for details

[2020-11-20 04:32] robe070 commented on #18
The hint for minCapacity should be:
The Minimum Capacity must be less than or equal to the Capacity. The Minimum Capacity must also be greater than a set value which is dependent on the Capacity. [Learn more about SQL Database resource limits, and in particular the vCore (Capacity) range](https://docs.microsoft.com/en-us/azure/azure-sql/database/resource-limits-vcore-single-databases)

[2020-11-20 05:35] robe070 commented on #80
-AmazonAMIName
The 2012 image uses: "Windows_Server-2012-R2_RTM-English-64Bit-SQL_2016_SP2_Express*"
The 2016 image uses: "Windows_Server-2016-English-Full-SQL_2017_Express*"
The 2019 image uses: "Windows_Server-2019-English-Full-SQL_2019_Express*"

[2020-11-23 20:01] ashutosh-kumar1 commented on #18
@robe070, Below are the findings and possible implementation changes that I have found till now regarding issue #17/18
1. Unable to hide the blade. It is only possible to hide the elements of the blade but the empty blade looks bad in this case.
2. I am unable to add conditions in the createUiDefinition file(especially the if condition) in most of the fields. If that was possible things would be e

[2020-11-23 23:28] robe070 commented on #18
We need to have a meeting to discuss your findings. Please arrange a meeting as soon as you can today.

[2020-11-24 15:01] ashutosh-kumar1 commented on #56
@robe070, The template release pipeline has executed successfully. Please proceed with the submission of the solution template.

[2020-11-24 16:24] edgarwharton commented on #18
@robe070 @ashutosh-kumar1

1. What would be the downside of duplicating the UI 6 times for each of the shoe sizes + custom? Would this effect any execution of the environment? Would this cause issues with the release pipeline when making any changes?

Perhaps I am not viewing this properly, but from what I can see there are [Logical Functions](https://docs.microsoft.com/en-us/azure/azure-resource-

[2020-11-25 04:20] robe070 commented on #91
"@Robert Goodridge For Issue #91, do I also need to retrieve LansaDevelopmentLicense from aws parameter store?"

No you do not.

[2020-11-25 04:28] praveen-acc commented on #91
So, I need to only worry about lines 726-731 in "bake-ide-ami.ps1" ?  LansaIntegratorLicense is also being used in line 684 where $InstallIDE -eq $true .

[2020-11-25 07:01] robe070 commented on #91
Correct.

[2020-11-25 07:02] robe070 commented on #91
`$InstallIDE` type build is not being used currently and will probably never be used again. Just focus on what you are building now.

[2020-11-25 07:16] robe070 commented on #60
@ravicharan07 Make sure the Azure image CI pipeline passes. Post success here. And I'll close this issue.

[2020-11-26 00:52] robe070 commented on #56
Stackname validation seems to have been changed. No longer accepts numerics. Why is that?

[2020-11-26 00:53] robe070 commented on #56
The Peview Solution Template fails validation when default setting for Zones is used:
{"message":"Deployment template validation failed: 'Template parameter JToken type is not valid. Expected 'Array'. Actual 'String'. Please see https://aka.ms/resource-manager-parameter-files for usage details.'."}

[2020-11-26 05:23] robe070 commented on #80
Note that the base image id for AWS is `w12r2d-14-2` (Azure was `lansa-scalable-license-14-2`). All other base Image Ids are the same on AWS as for Azure. This effects the AWS Image and AWS template CI and CD pipeline parameters too.

[2020-11-26 05:24] robe070 commented on #83
Note that the base image id for AWS is `w12r2d-14-2` (Azure was `lansa-scalable-license-14-2`). All other base Image Ids are the same on AWS as for Azure. This effects the AWS Image and AWS template CI and CD pipeline parameters too.

[2020-11-26 05:25] robe070 commented on #78
Note that the base image id for AWS is `w12r2d-14-2` (Azure was `lansa-scalable-license-14-2`). All other base Image Ids are the same on AWS as for Azure. This effects the AWS Image and AWS template CI and CD pipeline parameters too.

[2020-11-26 05:25] robe070 commented on #82
Note that the base image id for AWS is `w12r2d-14-2` (Azure was `lansa-scalable-license-14-2`). All other base Image Ids are the same on AWS as for Azure. This effects the AWS Image and AWS template CI and CD pipeline parameters too.

[2020-11-26 05:26] robe070 commented on #81
Note that the base image id for AWS is `w12r2d-14-2` (Azure was `lansa-scalable-license-14-2`). All other base Image Ids are the same on AWS as for Azure. This effects the AWS Image and AWS template CI and CD pipeline parameters too.

[2020-11-26 07:30] ashutosh-kumar1 commented on #56
Thanks for this @robe070 . I was expecting this anyway and therefore am reiterating in every meeting that we might need to check this again.
Will have a look at this for a few hours and get back to you on this tomorrow.

[2020-11-26 07:34] ashutosh-kumar1 commented on #56
This was updated based on your inputs Rob. It initially did accept numerals. Please refer issue #36 for details. Attaching screenshot for your reference.
![stackname validation](https://user-images.githubusercontent.com/67790012/100320916-e7edbc00-2fe7-11eb-95ac-81d52670dfa3.PNG)

[2020-11-26 10:25] ravicharan07 commented on #60
@robe070 CI pipeline job completed successful. please refer build #[396   ](https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_build?definitionId=12)

[2020-11-26 23:20] robe070 commented on #56
Yes, indeed. Thanks for reminding me.

[2020-11-27 01:19] robe070 commented on #80
@ravicharan07 You will need changes from praveen, after they've been fixed to pass in personalised parameters.
@praveen-acc @ashutosh-kumar1

[2020-11-27 01:58] robe070 opened #97 "VM Test not run for image w16d-14-2 in Lansa Images - Cookbooks pipeline"
![image](https://user-images.githubusercontent.com/4089160/100402403-41b9b900-30b0-11eb-90bb-0942632a3a3c.png)

The wrong build variable is being tested...
[code]

[2020-11-27 05:22] ashutosh-kumar1 commented on #56
@robe070 , New findings on this issue. I was able to use the if condition in the output with the restriction that we can not return an object or array. So I am planning to pass the array as a  string from the createUiDefinition file and then convert it back to an object in mainTemplate file. The mainTemplate file is able to use all the functions(object, array) properly but for some reason the crea

[2020-11-27 05:39] robe070 commented on #56
Good to hear. Yes, do it.

[2020-11-27 05:47] robe070 commented on #56
What will the format of the string be that the template receives? - the template parameter `description` will need to describe the format.

[2020-11-28 18:21] ashutosh-kumar1 commented on #56
@robe070, PR raised to resolve the string conflict issue. Please review and merge: https://github.com/lansa/azure-quickstart-templates/pull/23

[2020-11-29 17:05] ashutosh-kumar1 commented on #56
Thanks @robe070 for merging the PR and running the template release pipeline even on weekend.

[2020-11-30 00:24] robe070 commented on #62
Currently the external ip of the machine the script is running on is used as the ip address to add to the firewall to allow connections through on port 3389, the RDP Port. This is perfect for a developer running the script who can then be assured they can RDP into the VM as necessary to troubleshoot issues.

The pipeline external ip is not appropriate. So a specific set of ip addresses need to be

[2020-11-30 23:21] robe070 commented on #72
The way to work with these issues efficiently is to put a messagebox in bake-ide-ami.ps1 just before you want to modify the code. Then RDP into the VM and run your Powershell directly so you can work through issues. Much the quickest way.

Also, if this solution works it should also be an issue for AWS. So ultimately, once the fix is working, the condition on Azure should be removed.

[2020-12-01 04:02] robe070 commented on #25
@ashutosh-kumar1 The latest template frpm PR template.#21 commit ID 2505f64 is not behaving like I would expect:
![image](https://user-images.githubusercontent.com/4089160/100695709-e5bf9f00-33e5-11eb-94eb-e84671a92bcc.png)

We need to discuss this. And maybe there are later changes which fix this.

[2020-12-01 04:29] robe070 commented on #56
@ashutosh-kumar1 This behaviour does not seem to be what we discussed.
New or Existing is not prompted for.
Where is the public ip address entered?
We need to talk about this
![image](https://user-images.githubusercontent.com/4089160/100697136-40a6c580-33e9-11eb-88e1-d5378d886fb7.png)

[2020-12-01 05:19] ashutosh-kumar1 commented on #17
@robe070, Adding the createUiDefinition file with serverless database example for your feedback:
[createUIDef file.txt](https://github.com/robe070/cookbooks/files/5620412/createUIDef.file.txt)

[2020-12-01 06:10] robe070 commented on #17
@ashutosh-kumar1
In UI definition:

- Change `Capacity` to `Max vCores`
- Change `Min Capacity` to `Min vCores`

`Min vCores` needs to be a dropdown like `Max vCores`, but different values as per issue #18

`Min vCores` <= `Max vCores`

`Max vCores` hint:
The maximum number of cores available to use in the database. [Learn more about costing serverless compute](https://docs.microsoft.com/en-us/azu

[2020-12-01 06:45] nikpok commented on #78
Hi @robe070
Facing the server IP address not found issue for -https://775488040364.signin.aws.amazon.com/console
Also the nested template timed out on WaitCondition for both the server group in stack 78.
The templates are uploaded in the s3 debug/paas.
Following is the commit link.
[https://github.com/VarunChopraAccolite/aws-templates/commit/b35b8507bb8bc47036bb53dcbe22b1c6543d9cf5#diff-058e2ba4b2

[2020-12-01 10:11] knagasekharreddy commented on #79
@robe070 can you add more details about the `shoe sizes` i am working on this issue.

[2020-12-01 16:48] ashutosh-kumar1 commented on #17
Hi Rob, thanks for the inputs. I have incorporated the changes in the createUiDefinition file as per your comments.

- Also, I did put some extra effort to convert the 'Min vCores' fields into dropdown and have exactly the set of values that is possible to be mapped to those as per the selected 'Max vCores' value. In this way, it is more user friendly and negates the possibility for a user to sele

[2020-12-02 00:35] robe070 opened #99 "Image release pipeline failing unusually"
`Release-44` is testing `w16d14-2-5` & `w19d14-2-5`. Build variables set appropriately. Maybe unnecessary as there are only artefacts for these 2 images. I was attempting to have the minimum jobs running. It seems there is no difference from having `Build ALL= True`. (Side issue. Please advise on best usage)

The main issue. `w16d14-2-5` fails to build very quickly with a VM provisioning error. I

[2020-12-02 03:34] robe070 commented on #17
Thank you for going the extra mile and validating the Min vCore! Looks good.

I've emailed you some minor hint changes. The rest looks good.

[2020-12-02 03:40] robe070 commented on #79
@VarunChopraAccolite  @srinivasp898 It won't be soon. Firstly Issue #78 needs to be completed.

[2020-12-02 03:51] robe070 commented on #78
What server ip address not found? That link is fine.

I've cloned this repo to look at the changes more closely

[2020-12-02 04:23] VarunChopraAccolite commented on #99
Hi @robe070
The resource groups are not versioned to run in parallel for the release pipeline. It won't delete the resource group in case of failure to allow the user to RCA the failure using the resources(that's a manual step applicable for failed scenarios).

**Note**: In the case of build pipelines, it's versioned by appending the build number on the resource group.

Regards
Varun Chopra

[2020-12-02 06:29] ashutosh-kumar1 commented on #17
Hi @robe070, The changes are incorporated and PR is raised for the same.
Please review and merge: https://github.com/lansa/azure-quickstart-templates/pull/24

[2020-12-02 08:06] srinivasp898 commented on #81
@robe070
Below two URL are working fine after CFN template deployment

URL1: http://test-stac-webserve-1ofb3qzb8su06-356551863.ap-southeast-2.elb.amazonaws.com/cgi-bin/probe
URL2: http://test-stac-webserve-1ofb3qzb8su06-356551863.ap-southeast-2.elb.amazonaws.com/cgi-bin/lansaweb?about

And Below two URL are not working after CFN template deployment. Getting the error "Unrecoverable error occurred

[2020-12-02 09:09] ajitesh-s commented on #76
Hi @robe070 I have updated the PR with recent changes. How do we need to test that which cert (the existing one or the one from key vault) is being used in the arm template. I have tested this by outputting the parameter value that is referencing the cert and comparing the outputted strings for cases when keyVaultEnabledForTemplateDeployment parameter is set to true and false respectively.
I am ge

[2020-12-02 16:42] nikpok commented on #78
Hi @robe070
The server issue has been resolved as it was a DNS issue.
We have tried following two ways and both of them resulted in successful stack creation.
1-By placing the AWS.EC2.Windows.CloudWatch.json in the debug/pass folder location.
2-By removing the below mentioned code from the webserver template.
   `"files"    : {
                            "c:\\program files\\Amazon\\Ec2ConfigServi

[2020-12-02 21:44] robe070 commented on #78
@VarunChopraAccolite Please ensure all developers who need to test the template know this change is required.

1. Incorrect. As I said in Slack its old code that needs to be removed!
2. Correct, and application is working

I've deleted stack (1). I've left stack (2) for me to check the cloud watch logs are working.

In order to test the stack correctly I needed to make a small change in the parame

[2020-12-02 22:32] robe070 opened #101 "Create pipeline to update PaaS template with new AMIs and rebuild the Free Trial stacks"
When AWS images are published live, trigger this pipeline to re-construct the PaaS environments.
1. Update PaaS template with new AMIs.
2. Use technique in `.\CloudFormationWindows\ShowLoadBalancerInstanceHealth.ps1` to ensure everything is healthy, otherwise error. It must be manually resolved before continuing.
3. Run `.\CloudFormationWindows\CheckVLWebStatus.ps1` with 1 loop on DEV stack and Pa

[2020-12-03 02:41] robe070 commented on #60
@VarunChopraAccolite The Azure Image builds, both CI and Image Release Artefacts are failing due to security, runs #488 and #501. Prior ones are failing for other reasons.

What changes have been made? Maybe somebody changed the user that the builds are being performed under?

Maybe something to do with a Service Connection being changed?

[2020-12-03 03:22] robe070 commented on #60
I tried directly accessing the Azure Artefacts form my PC. It failed with the same errors. Somehow the PAT has become invalid. I wonder if one of your team who is using the AzureDevOpsArtefacts user has regenerated the PAT? That seems to be the only way for this to have occurred. Expiry is 12th November 2021.

New PAT is 266tdaklo47lhxfvaz7pgqagpyz72uoeahjyg7mkpaxtwdzmkp6a. This is already in the

[2020-12-03 04:16] VarunChopraAccolite commented on #78
Hi @robe070
We will modify it as part of this issue, thank you for your inputs.
cc: @nikpok raise a PR including the default MSI changes

[2020-12-03 04:19] VarunChopraAccolite commented on #60
Hi @robe070
I will check with the team and history for any modifications. I will update the PAT.

[2020-12-03 04:23] VarunChopraAccolite commented on #60
cc: @ravicharan07 you have to modify the PAT in the choco to make sure it works as discussed above

[2020-12-03 04:39] robe070 commented on #78
Just to be clear, the pipeline I'm talking about is AWS, NOT Azure. Azure MSI links stay as they are.

[2020-12-03 05:14] robe070 commented on #81
I have addressed it here: https://github.com/robe070/cookbooks/issues/78#issuecomment-737514639

[2020-12-03 05:43] robe070 commented on #99
Yes, I know why its left behind on failure. The question is why is it not deleted at the beginning of the next run?

[2020-12-03 09:21] srinivasp898 commented on #81
@robe070
I am trying to run below script in Pipeline. But it was throwing an error,please find the error in below screenshot.

***Script that am using***
Send-SSMCommand -DocumentName "AWS-RunRemoteScript" -Parameter @{ sourceType="GitHub";sourceInfo='{"owner": "robe070","repository": "cookbooks","branch": "debug/pass","path": "Tests/TestImageVersion.ps1"}'; "commandLine"="TestImageVersion.ps1"} -

[2020-12-03 22:16] robe070 commented on #76
Hi @ajitesh-s
How did you go? Did you get anywhere with my suggestions? I would have thought you could have worked through them easily in the time you had left in your day. So is it now working?

[2020-12-03 23:16] robe070 commented on #81
The link provided above does not work. I needed to hunt around for the run that did not work.
Here it is:
[AWS Console link](https://ap-southeast-2.console.aws.amazon.com/systems-manager/run-command/630d353f-f398-4398-bdf2-a16160b6af55?region=ap-southeast-2)
![image](https://user-images.githubusercontent.com/4089160/101099700-48e54780-3619-11eb-87d5-1939ef2bddf5.png)

And a working one:
![image](h

[2020-12-04 04:16] robe070 opened #103 "Implement new SQL Server features & SQL Server Express"
Provide cheap options for a Developer's database

## Summary of changes
1. Support General Purpose (SSD) Storage. Requires a new parameter DBStorageType.
2. Support SQL Server Express providing cheap options for a Developer's database, and potentially testing too.
3. Derive the `iops` setting
4. Validate that the combinations of these settings is valid
5. Change Stack Types to use appropriate comb

[2020-12-04 04:50] robe070 commented on #79
Essential Parameters Parameter Group

Show all parameters with defaults, except hide the MSI Bitness as shown below:

![image](https://user-images.githubusercontent.com/4089160/101122991-e0618f00-3647-11eb-8cc5-50134ce1171e.png)

Database Configuration
Parameter | Hide | Development | Test | Small | Medium | Large
-- | -- | -- | -- | -- | -- | --
Instance Class | yes | db.t3.small | db.t3.large |

[2020-12-04 05:25] ashutosh-kumar1 commented on #18
@robe070, Please validate of this createUiDefinition file is up to the expectation for the Dev show size.
[createUiDefinitionDev.txt](https://github.com/robe070/cookbooks/files/5640754/createUiDefinitionDev.txt)

Please note it does not contain Ajitesh's code for now. Also, the values for blades which should not be visible to the user either have default values in the template or are hard-coded in

[2020-12-04 06:43] robe070 commented on #18
Installation Options blade needs to be shown, with defaults. They are part of maintaining the stack.

The rest looks good!

[2020-12-04 06:45] robe070 commented on #18
Actually, I wonder what happens when you re-deploy a Solution Template? Does it show the UI? Or does it only work of the template? I'll check right now if I can.

[2020-12-04 06:47] robe070 commented on #18
No there isn't one that I can see. I'll create one from the AMP Solution Template and re-deploy it.

If its just the template, the Installation Options blade is not required.

[2020-12-04 08:00] srinivasp898 commented on #81
@robe070
below is the  working script, but in pipeline we are still getting status as pending

"$result = Send-SSMCommand -DocumentName "AWS-RunPowerShellScript" -InstanceId "$instanceId" -Parameter @{commands = ' New-Item -Path "$(CookbooksSource1)\Tests" -ItemType Directory -force -verbose; New-Item -Path "$(CookbooksSource1)\scripts" -ItemType Directory -force -verbose; Invoke-WebRequest -Uri "

[2020-12-04 08:08] robe070 commented on #81
This won't resolve your issue, and I don't know what the resolution is, you will need to debug it.

You are explicitly using the branch `debug/paas` that needs to be a variable.

[2020-12-04 08:08] robe070 commented on #81
You may need to search for a resolution on the Internet.

[2020-12-04 08:27] ashutosh-kumar1 commented on #18
Displaying the blade will enable the user to edit it. Are we sure we want to show it? We are providing all blades in the custom template. If we don't hide the two blades then I feel it will behave the same as the custom template where we have pre-filled values and we can just go ahead and click next!

[2020-12-04 09:09] nikpok commented on #78
Hi @robe070
We have made the changes for the default MSI as well.
Also all the tests have passed with status 200 OK.
Corresponding PR link:https://github.com/lansa/aws-templates/pull/4
Please have a look and let us know your thoughts.
Thanks and Regards
Nikhil

[2020-12-04 10:10] robe070 commented on #18
I have tested the re-deployment and it does not show the UI again, so there is no point in showing the Installation Options blade. So, leave it as it is.

[2020-12-04 10:17] robe070 commented on #78
So is there an archive to provide to AWS Marketplace?

[2020-12-04 10:17] robe070 commented on #78
CI pipeline should provide it.

[2020-12-05 14:00] ashutosh-kumar1 commented on #18
Hi @robe070 ,
I have created multiple createUiDefinition files for different shoe sizes and created a PR : https://github.com/lansa/azure-quickstart-templates/pull/25,
I have also updated the CI pipeline to create zip files for all the shoe sizes. Please review: https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_build/results?buildId=591&view=artifacts&pathAsName=false&

[2020-12-05 14:08] srinivasp898 commented on #81
we updated branch as pipeline variable as below

-Uri "https://raw.githubusercontent.com/robe070/cookbooks/$(CookbooksBranch)/Tests/TestImageVersion.ps1" -OutFile "$(CookbooksSource1)\Tests\TestImageVersion.ps1" -verbose; Invoke-WebRequest -Uri "https://raw.githubusercontent.com/robe070/cookbooks/$(CookbooksBranch)/scripts/dot-CommonTools.ps1"

[2020-12-05 14:11] srinivasp898 commented on #81
Now we are getting status success. PFA of below screen shot.
![image](https://user-images.githubusercontent.com/73096247/101245281-bedcd200-3731-11eb-9af7-e932cb7b3ad8.png)

[2020-12-05 16:05] srinivasp898 commented on #81
Successfully tested all URL(s). with new(lansa-master-win.cfn.template) template.

[2020-12-07 01:16] robe070 commented on #18
The `Resource Group Name` parameter should be called `Key Vault Resource Group Name`.

The default for `Key Vault Enabled` should be `true`.

There needs to be something to identify that its a particular shoe size. A label at the top of each blade? e.g `Development Stack`

I'd like to see the input for the regression tests being the output from the Sandbox. Precisely. Just copy it as it is. Ensure

[2020-12-07 02:53] robe070 commented on #18
Large Stack
These values seem to be incorrect:
[code]

All the remainder Sandbox Outputs seem to be match the table above.

[2020-12-07 03:44] robe070 commented on #81
so what is the difference between the pipeline that had status `success` and the pipeline that is left `pending`?
Where is the code in the pipeline?

[2020-12-07 03:53] #91 closed, assigned to praveen-acc

[2020-12-07 06:12] srinivasp898 commented on #81
I updated while condition as below, it will wait until success
[code]

[2020-12-07 23:09] robe070 commented on #81
So is there actually still an issue for me to resolve?

[2020-12-07 23:14] robe070 commented on #87
Code complete only

[2020-12-07 23:14] #87 closed, assigned to knagasekharreddy

[2020-12-07 23:14] robe070 commented on #25
Code complete only

[2020-12-07 23:14] #25 closed, assigned to knagasekharreddy

[2020-12-07 23:16] robe070 commented on #97
Code complete only

[2020-12-07 23:16] #97 closed, assigned to ashutosh-kumar1, ravicharan07

[2020-12-07 23:16] robe070 commented on #88
Code complete only

[2020-12-07 23:16] #88 closed, assigned to knagasekharreddy

[2020-12-07 23:17] robe070 commented on #17
Code complete only

[2020-12-07 23:17] #17 closed, assigned to ashutosh-kumar1

[2020-12-07 23:17] robe070 commented on #18
Code complete only

[2020-12-07 23:18] #60 closed, assigned to ravicharan07

[2020-12-07 23:18] robe070 commented on #56
Code complete only

[2020-12-07 23:18] #56 closed, assigned to ashutosh-kumar1

[2020-12-07 23:19] robe070 commented on #76
Code complete only

[2020-12-08 06:16] srinivasp898 commented on #81
No We are good  ,

need help on taskcat validation still getting permission denied error
[https://iderainc.slack.com/archives/C01D4NFR4RJ/p1606375654195500?thread_ts=1606364558.188900&cid=C01D4NFR4RJ](url)

[2020-12-08 16:44] srinivasp898 commented on #81
we updated tags for cfn templates from pipeline

and created folder in s3 bucket to upload templates (lansa/templates/debug/paas/pipeline) is this ok or any changes required

[https://ap-southeast-2.console.aws.amazon.com/cloudformation/home?region=ap-southeast-2#/stacks/stackinfo?filteringText=&filteringStatus=active&viewNested=true&hideStacks=true&stackId=arn%3Aaws%3Acloudformation%3Aap-southeas

[2020-12-08 17:57] ashutosh-kumar1 commented on #18
@robe070, Template CI and CD pipeline also modified as per the requirements.
The CD pipeline is restructured to run 5 parallel stages containing 2-3 jobs each. This is done to reduce the overall regression time and will also allow running only that particular stage where the build has failed. The stages could have been further broken but that might result in an unexpected failure as 13 separate st

[2020-12-08 18:06] ashutosh-kumar1 commented on #76
@robe070, the scenario for using the key vault certificate is added in the regression pipeline (Refer: Test Stack).

[2020-12-08 18:17] ashutosh-kumar1 commented on #18
Release-44 is in progress now with the latest changes.

[2020-12-09 04:15] robe070 commented on #81
Interesting that you have posted this. I reviewed the AWS Template Release pipeline about an hour ago and realised that we have a clash with template upload location.

The fundamental architecture is that the cookbooks branch is the folder name in S3. So `debug/paas/pipeline` does not fit unless you create a branch with that name in the cookbooks repo.

I need to resolve this with AWS marketplace

[2020-12-09 10:19] robe070 commented on #80
@VarunChopraAccolite I'd like to point out that this issue describes the need to update the template to support Windows 2019 and the already supported 2016 which the master template supports in the following table, but which was removed as an option from the `11WebserverOSVersion` parameter. And there is the implied need to support the 2 LANSA versions to match up with Azure.

This is the current

[2020-12-09 11:01] VarunChopraAccolite commented on #80
Hi @robe070
I will sync up with the team on the provided feedback and keep you posted, also can we track it as part of template CD pipeline.

[2020-12-09 22:55] robe070 commented on #80
I've added it to AWS templates and left it in AWS Images for the moment as the code has not been merged yet as the PR was closed by @praveen-acc

[2020-12-09 23:28] robe070 commented on #18
The maximum number of ips may be increased quite easily. But its passable as it is right now.

I'll create an Issue to break this up further. To be done in a later PRD. The quicker the better. Especially when changing the pipeline

[2020-12-09 23:29] robe070 opened #105 "Azure Template CD Pipeline increase parallelism"
Each stack requires three ips and the maximum is 40 in a region. There are 13 separate stacks so running them all parallel would consume 39 ips which is too close to the limit given other stacks may already exist.

So, increase the maximum number of ips (Architect) and then split up the pipeline into 1 stack creation per stage.

[2020-12-10 23:46] robe070 commented on #79
Parameters must be removed from the Shoe Size templates if they are hidden and do not change the default value. Its important that the Master template default values are used where possible so as to minimise changes in the future.

[2020-12-11 02:17] robe070 commented on #82
Stage 1 of this pipeline is essentially just testing the shoe sizes. This is a simple matter of creating a stack based on each Shoe Size template and the mandatory parameters - in other words, use the default settings in the template.

A PR has been raised for the Shoe Sizes - lansa/aws-templates#8
You can refer to the merge branch to build the CI that packages together the new templates and then

[2020-12-11 04:34] robe070 commented on #82
I have given the user AzureDevOps, known as AWSDevOps in the pipeline, access to resources in `us-east-2` for the purpose of the 'US Region' test.

And the structure of these tests needs to be different because the publishing process is different. This only makes a difference to the naming. Stage 2 and Stage 3 are currently named 'Production...'. Change them to 'Preview'. And then add a Stage 4 wh

[2020-12-11 15:08] srinivasp898 commented on #81
Raised PR ,please review and let us know if there is any changes.

[2020-12-12 03:49] robe070 commented on #18
Development Stack
1. Does not have a default value for `Key Vault Enabled`. Set it to `True`.

[2020-12-12 08:43] ashutosh-kumar1 commented on #18
Updated the default value to True and raised a PR: https://github.com/lansa/azure-quickstart-templates/pull/26
Please review and merge.

[2020-12-12 08:46] ashutosh-kumar1 commented on #18
Also, w.r.t the template regression pipeline, requesting you to cancel all/any deployment which is in the Manual Intervention stage. This should allow the upcoming release to pass and wait at Manual Intervention stage.

[2020-12-12 23:01] robe070 commented on #72
Run #722 started at about 1 pm on a Saturday had 0 failures due to failed sysprep. There was 1 failure and that was an issue with vscode install.
[code]
![image](https://user-images.githubusercontent.com/4089160/101971613-d57dae80-3c86-11eb-9a02-f150a90d443a.png)

And the failed build, was successful when failed jobs were restarted.

[2020-12-15 04:14] robe070 commented on #83
@srinivasp898 nobody is assigned, so nobody receives my comments :(
@VarunChopraAccolite
The AWS images need to be in `us-east-1` to be uploaded to AWS Marketplace. Please add the last step of the AWS Image CD pipeline to copy each of the 6 images to us-east-1 and save the target AMI IDs as artefacts for submission to AWS MP.

[2020-12-15 04:43] ravicharan07 commented on #99
Hi @robe070
 - As per discussion in yesterday call that in Delete resource group task we can see Custom condition set to only succeeded RG will delete not the Failed or canceled.

- I am updating it with always() condition, which fulfill all success, failure and cancel conditions.
[code]
Cc: @VarunChopraAccolite

Any suggestions, much appreciated.

[2020-12-15 04:56] VarunChopraAccolite commented on #72
Hi @robe070
It might be an intermittent package issue, AFAIK. Let me know your thoughts.

[2020-12-15 05:26] robe070 commented on #72
Yes, indeed and I'm not concerned about it. We cannot remove the dependency on the location of the components of the packages. All we have done is remove the dependency on the Chocolatey server. And that seems to be working better.

I only mentioned it to record the success of running the 6 builds concurrently on the weekend and to note the failure is not due to the usual reason.

So FYI only.

[2020-12-15 05:43] robe070 commented on #99
That sounds incorrect.

Your task was not to change the task that was already there. Its to COPY the existing task to BEFORE the template deployment to ensure it is deleted when a previous run has failed. And the condition would be set to `always()`. And it should more often than not fail because the previous run succeeded, so it MUST continue on failure. And in fact it is best if it is not even r

[2020-12-15 05:52] VarunChopraAccolite commented on #99
hi @ravicharan07
go for the below approach, make sure you perform a dummy run to verify your changes and share SS here.
[code]

[2020-12-15 06:03] VarunChopraAccolite commented on #83
Hi @SakshamAccolite and @praveen-acc
Please add a new stage to upload the AWS image CD to US-East-1 and save the target AMI Ids

[2020-12-15 08:06] VarunChopraAccolite commented on #83
hi @robe070
do we need to test all the shoe sizes along with the templates testing for each image or we are fine with having a template test for each image?
cc: @praveen-acc @SakshamAccolite

[2020-12-15 09:28] #90 closed, assigned to ravicharan07

[2020-12-15 09:30] robe070 commented on #83
Each Shoe Size in the regression test should use a different Win/LANSA version combination. That will test 5 of them as I think there are 5 shoe sizes. Thats enough.

[2020-12-15 10:07] #18 closed, assigned to robe070, ashutosh-kumar1

[2020-12-15 10:46] ravicharan07 commented on #99
Hi @robe070 ,

Added the new task(Delete RG with condition set to always()) in the image release pipeline. Please find the screen shot below.
Kindly let me know if any changes required.

![image](https://user-images.githubusercontent.com/72967378/102205103-b7b38200-3ef0-11eb-9a8c-69384b42d182.png)

[2020-12-15 12:39] robe070 commented on #99
Looks good

[2020-12-15 12:39] #99 closed, assigned to VarunChopraAccolite, ravicharan07

[2020-12-15 13:44] srinivasp898 commented on #81
1.Removed print deployment output task
2.Given imageid as skunameold , need to update  manually once ami id is updated.
is there anything need to update or we can merge/close this task

[2020-12-16 02:55] praveen-acc commented on #83
@robe070 But we can't pass custom image in shoe size template right?

[2020-12-16 04:02] robe070 commented on #83
I was making the comment about **template** release CD pipeline. So ignore it.

Correct. Just use the Master template. Then you can specify Custom.

And use the same parameters for each image. Defaults will be fine. Just need to use the different custom image each time

[2020-12-16 06:16] srinivasp898 commented on #81
We are using support/scalable branch in lansa/aws-templates,
Updated correct SKU name  in test image version script in CI pipeline.

[2020-12-16 09:11] robe070 commented on #81
I'm waiting for a successful build before closing this issue. Please inform me when that has occurred.

[2020-12-16 10:08] SakshamAccolite commented on #79
Hi @robe070 ,
Could you please confirm, out of the new parameters (LansaVersion, ImageSource, AMIId, CreateVPC, CurrentVPC, AvailabilityZones, NumberOfAZs, DBSubnetGroupName, ELBSubnetIds) which all I need to add in ShoeSize templates and which all need to be hidden.

[2020-12-16 12:50] srinivasp898 commented on #81
Hi @robe070,
Build completed successful after adding the VPC parameters and Cleanup CFN Template before the deploying stack.
Please find the screen shot below.  Build Number#774

![image](https://user-images.githubusercontent.com/73096247/102350601-295ffe80-3fcb-11eb-98cb-23b2e7c80a51.png)

[2020-12-16 17:55] srinivasp898 commented on #81
Hi @Robert Goodridge I updated cleanup stack with aws powershell which will delete stack if exist in CI pipeline , please let me if any changes required
![image](https://user-images.githubusercontent.com/73096247/102387019-e1a29c80-3ff5-11eb-94f8-a0d81b308305.png)

[2020-12-17 01:21] robe070 commented on #81
You need to use the cookbooks git repo branch name in the template location AND specify it when launching the template - `10LansaGitRepoBranch`.
Do NOT use a literal. Create a variable to be used in BOTH places. Call the variable `CookbooksBranch`. This is the same variable name that Image Release CD pipeline uses.

[2020-12-17 01:27] robe070 commented on #82
@srinivasp898 You also need to handle the cookbooks git repo branch here in the CD pipeline the same way that I've instructed you to do so in the CI pipeline. There is just one difference - the branch will be different at different stages. So, have two variables
`CookbooksBranchPreview - patch/paas` and `CookbooksBranchProduction = support/scalable`. So the Shoe Size upload & tests use the former

[2020-12-17 01:53] robe070 commented on #79
LansaVersion, Show and pass on.
ImageSource, Hide, do not pass on.
AMIId, Hide, do not pass on.

CreateVPC, CurrentVPC, AvailabilityZones, NumberOfAZs, DBSubnetGroupName, ELBSubnetIds all of these shown, prompted and grouped and passed on as per Master template.

[2020-12-17 06:15] srinivasp898 commented on #81
Added archive file task for CI pipeline
and updated variable in parameter's for deploy cfn template task, please let me know if any changes required

[2020-12-17 06:19] srinivasp898 commented on #82
updated variables in parameter's for deploy cfn template tasks in shoe size(CookbooksBranchPreview - patch/paas) and production stage(CookbooksBranchProduction = support/scalable)  , please let me know if any changes required

[2020-12-17 06:42] srinivasp898 commented on #78
Added archive file task for CI pipeline.
please find below successful build
[https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_build/results?buildId=790&view=logs&j=cfa20e98-6997-523c-4233-f0a7302c929f&t=cfa20e98-6997-523c-4233-f0a7302c929f](url)

[2020-12-17 07:02] robe070 commented on #81
It doesn't look like you've done the above, which needs to be done.

Which begs the question, what variable's precisely did you change from what to what?

[2020-12-17 07:09] robe070 commented on #82
can't see any changes for this either. Do you need a call to make it clear?

[2020-12-17 07:24] srinivasp898 commented on #82
I have updated in variablegroups>defaultbranch
![image](https://user-images.githubusercontent.com/73096247/102455774-28c87600-4066-11eb-8d71-abf69adeb24e.png)
i used above parameter's in deploy cfn template task parameter's as below for CookbooksBranchPreview .
![image](https://user-images.githubusercontent.com/73096247/102455970-8066e180-4066-11eb-88ae-aee130d55f9c.png)
![image](https://user-imag

[2020-12-17 07:32] srinivasp898 commented on #81
i used above parameter in deploy cfn template task parameter's as below for CookbooksBranch
![image](https://user-images.githubusercontent.com/73096247/102456497-3f230180-4067-11eb-93e5-80ef87ec1602.png)

[2020-12-17 07:56] robe070 commented on #82
good to see it in the template params, but the upload is still incorrect, and maybe other places. There should be NO explicit reference to a branch in ANY tasks. Like this needs to be changed:
![image](https://user-images.githubusercontent.com/4089160/102459358-98a42400-4099-11eb-94d1-dfde95ba2426.png)

[2020-12-17 07:57] robe070 commented on #81
Ditto CD pipeline comment.

[2020-12-17 08:42] srinivasp898 commented on #81
updated in s3 bucket task parameter as below in ci pipeline. please let me know if any changes required
![image](https://user-images.githubusercontent.com/73096247/102464019-d68d5200-4071-11eb-8ecf-7f7e4e1c1121.png)

[2020-12-17 08:51] srinivasp898 commented on #82
updated in s3 bucket task parameter   as below in cd pipeline. please let me know if any changes required
![image](https://user-images.githubusercontent.com/73096247/102464655-a2666100-4072-11eb-91bd-8a05ac169ef1.png)
![image](https://user-images.githubusercontent.com/73096247/102464897-fa9d6300-4072-11eb-8839-c1384ed6e5f0.png)

[2020-12-17 09:26] robe070 commented on #81
Seriously? Check your work. Double check you’ve not got a reference
somewhere to a branch!!!!!!!!!!!!!!

I’m not your desk checker. Do it yourself! Here is just 1 example!!!!!!!!

Warm regards

*Rob Goodridge *| CloudArchitect | *LANSA Product Centre*

*From:* srinivasp898 <notifications@github.com>
*Sent:* Thu, 17 December 2020 7:43 PM
*To:* robe070/cookbooks <cookbooks@noreply.github.com>
*Cc:*

[2020-12-17 09:26] robe070 commented on #82
Double check everything, then tell me its done

Warm regards

*Rob Goodridge *| CloudArchitect | *LANSA Product Centre*

*From:* srinivasp898 <notifications@github.com>
*Sent:* Thu, 17 December 2020 7:51 PM
*To:* robe070/cookbooks <cookbooks@noreply.github.com>
*Cc:* Rob Goodridge <robert.goodridge@lansa.com.au>; Author <
author@noreply.github.com>
*Subject:* Re: [robe070/cookbooks] Create AWS tem

[2020-12-17 09:49] vamshi-accolite commented on #80
The issue has been tested as part of CI pipeline and looks good. If there are any issues, let us know.

[2020-12-17 10:51] ajitesh-s commented on #85
Hi @robe070 ,the PR is merged for adding (using a nested template) or using an existing Vpc. It is also tested as part of the CD Pipeline and the job is successfully completed. Attaching the ss for reference.
![Vpcjob](https://user-images.githubusercontent.com/71516648/102478608-cb432200-4083-11eb-896e-c363a433c314.JPG)

[2020-12-17 22:44] robe070 commented on #83
When the image is copied the Name value must be set to the AMI Name. See some of the previous had copied AMIs in us-east-1:
![image](https://user-images.githubusercontent.com/4089160/102552318-1ce7bd00-4115-11eb-92c1-1bdf33b92060.png)

[2020-12-17 22:45] robe070 commented on #83
If a Release is re-done, with the same AMI, does the AMI copy succeed when the AMI is already there?

[2020-12-17 22:49] robe070 commented on #80
Names of Win2019 images say Win2016. Description is correct because that is picked up from AWS parent image:
![image](https://user-images.githubusercontent.com/4089160/102552951-2cb3d100-4116-11eb-9b61-7d55c6a63e30.png)
cc: @VarunChopraAccolite

[2020-12-17 22:50] robe070 commented on #83
@VarunChopraAccolite

[2020-12-17 22:54] robe070 commented on #83
The `Save copied ami` task is trying to resolve the AMI ID. Why is it not done in the Copy AMI to us-east-1 task where it is already displayed in the log? And whilst you are about it, annotate the log output for that task so its clear where the image is. Like
[code]

[2020-12-17 22:57] robe070 commented on #83
And this single file of artefacts that I am expecting to get must work correctly when re-run. I'm thinking that the AMI-ID and description can be saved in an image specific file, and then the 6 image-specific files are consolidated into 1 in a post-job task - when all images pass the tests and all have been copied.

[2020-12-17 23:30] robe070 commented on #83
Note that the template parameters for the other 5 images are incorrect - git branch not specified. Looks like they can simply be copied from the first image's parameters.

[2020-12-18 00:22] robe070 commented on #83
I've linked the variable group Template Parameters to pick up the VPC values

[2020-12-18 01:00] robe070 commented on #82
I changed the default cookbooks repo to patch/paas.

Also added the VPC params to the template parameters

[2020-12-18 01:06] robe070 commented on #82
And I've fixed up the template - its already uploaded. Use it directly.
![image](https://user-images.githubusercontent.com/4089160/102561682-68a46180-4129-11eb-9f32-b67bc4b515af.png)

[2020-12-18 01:19] praveen-acc commented on #83
I can't get the new ami -id in the first task, as it's region was set to ap-southeast-2. I don't know wether "Set-Default AWSRegion" will work. So I created a new task  with different region.

[2020-12-18 01:23] praveen-acc commented on #83
I already added a task where it will take all ami-id from publish tasks and merge them. But Varun said we can't publish artefacts in release pipeline. Even if I add the publish artefact task, he said there is no way to access them like in ci pipeleine. So I logged them out in that task.
![Screenshot (119)](https://user-images.githubusercontent.com/70358924/102562588-69bf9980-40fd-11eb-9d35-1e930ae

[2020-12-18 01:31] robe070 commented on #83
So what is the purpose of `Save copied ami`? Why do you care about the region? You have the AMI in the previous task.

[2020-12-18 01:33] robe070 commented on #83
I presume you can write to a file. And then log them all in `Log AMI artefacts`

[2020-12-18 01:34] robe070 commented on #83
But its LOGGED. So you have it. What is outputting that? Capture it.

[2020-12-18 01:38] praveen-acc commented on #83
When we copy the ami in Copy ami to us-east -1 task, it's ami-id changes in the us-east-1. To know what is that ami, I have to change region in aws creds. So I created a new task in which region is us-east-1 in aws creds. If I don't change region it can't access ami-id's in us-east -1

[2020-12-18 01:38] robe070 commented on #83
You're not getting it. The AMI is in the LOG. So you can just use that.

[2020-12-18 01:40] praveen-acc commented on #83
I didn't log anything in copy ami  to us task. I have logged it in Save copied ami task.

[2020-12-18 01:42] robe070 commented on #83
Look at the log. Its there!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

This is probably whats outputting it:
Copy-EC2Image -SourceRegion ap-southeast-2 -SourceImageId $amiID -Region us-east-1 -Name $imageName

So,
$TargetAMIId = Copy-EC2Image -SourceRegion ap-southeast-2 -SourceImageId $amiID -Region us-east-1 -Name $imageName

and you have it!!!!!

[2020-12-18 01:45] robe070 commented on #83
Not so simple. It returns an object. You'll need to work out the sub field to reference.
See [here](https://docs.aws.amazon.com/powershell/latest/reference/items/Copy-EC2Image.html)

[2020-12-18 01:46] praveen-acc commented on #83
Oh! sorry. Even then if I need to add tag called Name,  region needs to change

[2020-12-18 01:47] robe070 commented on #83
Still capture the AMI. Write it to a file. Use that to tag the name.

[2020-12-18 02:12] robe070 commented on #85
Hi Ajitesh

So it seems that if the parameter type is special, that a value MUST be provided. And providing a default value in a region for which the default does not exist is hidden from the user.

So I think some template descriptions need to change, if I'm correct.

Do my new descriptions make sense? Are they true?

[code]

[2020-12-18 03:16] robe070 commented on #82
The version test is failing. Talk to the Image CI/CD devs to get some help, maybe @praveen-acc ?
cc: @VarunChopraAccolite

Note once the latest Template CI build is complete, the CD VPC test should pass.

Need some urgent attention to this pipeline.

[2020-12-18 03:39] srinivasp898 commented on #81
Hi Rob , ci pipeline is reviewed by Varun  he said everything ok after updating  variable CookbooksBranch , can we close this task if everything working fine.

[2020-12-18 03:51] praveen-acc commented on #83
@robe070 If I try to save the ami-id in the $(Build.ArtifactStagingDirectory)/copy-w12..txt  it is showing error that it can't recognize it.  I used the exact same command like in image ci pipeline. So, bringing all ami's together will not be possible. What do you suggest?

[2020-12-18 04:14] ajitesh-s commented on #85
Hi Rob,
Yes the new descriptions makes sense. I will make these changes and test the templates.

[2020-12-18 04:43] SakshamAccolite commented on #79
Hi @robe070,
As the changes have been merged successfully, are we good to close the issue?

[2020-12-18 04:45] VarunChopraAccolite commented on #83
Hi @praveen-acc
Upload to s3

[2020-12-18 05:05] #79 closed, assigned to knagasekharreddy

[2020-12-18 05:07] #81 closed, assigned to srinivasp898

[2020-12-18 05:31] robe070 commented on #82
It looks to me like the Image CI pipeline is NOT using the SKU variable group and thats whats causing the version mismatch in the template CD pipeline. So its the Image CI pipeline that needs to be fixed.
@praveen-acc @SakshamAccolite @srinivasp898 @VarunChopraAccolite

[2020-12-18 05:38] robe070 commented on #82
I think the variable groups are not being used the most efficient way. The current structure is how Azure pipelines have been structured. It would be better if teh variable group version number variable and pipeline version number variable were the same name so that they can be overwritten if necessary - like in the Image CI. And in the case of the Build Release Images pipeline, not specify the pi

[2020-12-18 05:46] robe070 commented on #83
@praveen-acc @SakshamAccolite
template params look as if they have individually had the VPC settings added and not used the git branch.

The entire set of params from Win2012-14-2 can be copied and pasted into the other 5. Simple.

Who is going to do this? Please put your hand up.

[2020-12-18 05:54] SakshamAccolite commented on #83
Doing @robe070

[2020-12-18 06:25] srinivasp898 commented on #82
Hi Rob I updated regular expression to get child stack in test image version task as build is failing sometimes , and running again to make sure everything working.

[2020-12-18 08:44] robe070 commented on #82
Thanks for keeping me informed.

I have modified the pipeline stage order and added a stage at the beginning to make it clear a merge is required.

Also added a stage after preview. We do actually need one to test that AWS modifications to our templates are correct. And that they have moved all templates successfully.

We will need to repeat the regression tests from the first set of tests (Becaus

[2020-12-18 08:49] robe070 commented on #82
You won't be able to test the Preview Test stages nor Production Test Stages until we receive the template location. But as they are copies of a working set of regression tests, we should be quite confident that they will work.

So no hurry to implement this part - make sure the regression tests are working properly first.

[2020-12-18 08:52] praveen-acc commented on #83
@robe070 2 url tests are not only failing in win 2019 but also 2016.

[2020-12-18 09:57] robe070 commented on #83
I tested win2016 and it was fine. So, double check in the AWS Console that the AMI that is being used by the VMs is Win2016. Check the description.

[2020-12-18 10:06] praveen-acc commented on #83
@robe070  I checked the logs and checked the ami description in aws console , Webserver is win 2016 only.

[2020-12-18 11:01] robe070 commented on #83
Strange. My test worked. Maybe it wasn't a Win2016 image I tested. Maybe AMI Ids are mixed up in the templte.

It will need to wait until I'm back.

[2021-01-12 03:50] robe070 commented on #76
@ajitesh-s @ashutosh-kumar1
We have received the following feedback from Azure MP
![image](https://user-images.githubusercontent.com/4089160/104267150-2e8a6d80-54e5-11eb-9812-7cacf98e9120.png)

And I wonder myself about the previous nested template that seems to do nothing, and may in fact be what the reviewer is referring to?
![image](https://user-images.githubusercontent.com/4089160/104267315-7a

[2021-01-13 07:27] robe070 commented on #72
Implemented MS recommendations to delete the unattend.xml and wait for VM to completely shutdown before terminating it.
Ran the test 5 times and it was successful each time, but this does not necessarily prove its fixed. Of the 2 fixes, waiting for a complete shutdown is the only one that explains the symptoms seen - its random/a timing issue. And the logs show that the first execution on the VM f

[2021-01-15 04:41] robe070 opened #109 "AWS TemplateUrl parameters in each template need to be normalized for publication"
The TemplateUrl parameter currently has a complex algorithm to derive the url of the nested template. This does not work for the publishing process. It must be a literal URL.

Instead, PROGRAMMATICALLY, in the pipeline itself after validating it works unmodified, replace the TemplateUrl algorithm with a literal URL. This needs to be done prior to uploading to the support/scalable S3 folder.
All th

[2021-01-15 06:41] robe070 commented on #76
@ajitesh-s
@ashutosh-kumar1
Can you explain to me how the Azure Release pipeline `Issue Resolution Template Release` which is archived, has become the Release pipeline for the Azure `Templates - Azure Quick Start CI` pipeline. This has been changed since I last released the template.

[2021-01-15 07:05] ashutosh-kumar1 commented on #76
It is very weird to hear this behavior @robe070, as I do not remember any further changes made in Azure pipelines. The last run was made in Template Release post delivering all the azure issues. Then and there we froze the Azure issues and pipeline related work.

[2021-01-27 22:07] robe070 opened #110 "AWS Image Release Test CFN Deployment: URL tests does not display url when it fails"
The URL must ALWAYS be displayed whether it fails or not. Especially when it fails so you can see what's failed!

[code]

[2021-02-01 00:44] robe070 opened #111 "Add test for both Image and Template that Amazon SSM Agent is running"
Amazon SSM Agent running is mandatory for the LANSA license to be valid. And an issue occurred when it wasn't running and it was complex to identify. So catch it upfront.

When testing the version is correct, also test this. This occurs in many tests in the pipelines.

Must be written as a Powershell script file.

[2021-02-01 01:34] robe070 opened #112 "Change the 5 Shoe Sizes templates into 1 template with a new parameter to ask for the Shoe Size"
AWS Marketplace allows for 20 templates per product, but only 3 may be top level templates. LANSA currently requires 6.

To workaround this restriction a new parameter will be added:
[code]

Add StackType to `ParameterGroup` `Essential Parameters`.

[code]
Create a new Top-Level template called `lansa-stack-type-win.cfn.template` from the template `lansa-small-win.cfn.template`.

Encapsulate all t

[2021-02-01 05:32] robe070 commented on #82
The Shoe Sizes are being changed from 5 separate templates to a single template with a parameter to select the Shoe Size. See here:
https://github.com/robe070/cookbooks/issues/112

So the `Dev & Test Shoe Size Stage` and the `Standard Shoe Size stage` in this image need to be changed to use the new template name and add the appropriate new `StackType` parameter value:
![image](https://user-images.

[2021-02-01 05:37] robe070 commented on #82
The manual Preview Stage and the manual Production stage need to describe that the appropriate Pipeline Variable Bucket and Folder names, as described in an earlier post above, are updated with the correct location.

[2021-02-12 00:15] robe070 opened #113 "Azure Image CD jobs to delete stacks at the start of the job"
Bring the Azure Image CD pipeline in line with the newer pipelines which delete the stack at the beginning of the job. Both the Preview Tests and the Published tests need to be changed.

[2021-02-18 00:17] robe070 opened #114 "AWS Use appropriate MSI urls for v14.2 and v15 images"
Currently the global variable `LANSAMSIValue` is the only URL used.

Change the name of this **global variable** to `msiURLPrevious` and use this variable name for v14.2 tests = AWAMAPP_v14.2.21217_en-us.msi.
Use this variable for all V14.2 tests which use the template.

Add a new **global variable** named `msiURLLatest` = AWAMAPP_v15.0.21217_en-us.msi.
Use this variable for all V15 tests which us

[2021-02-22 00:55] robe070 opened #115 "Change the Shoe Size tests to use the new template"
This template `lansa-stack-type-win.cfn.template` has been created to replace the 5 shoe size templates:
[code]

Replace all tests in the pipelines that refer to any of the above templates to instead refer to the new template `lansa-stack-type-win.cfn.template` and set the StackType parameter to one of either `dev`, `test`, `small`, `medium` and `large` as appropriate.

[2021-02-26 06:04] robe070 commented on #72
There have been maybe 4 build on AWS during business hours. All have built all images successfully. Though some images fail the sysprep and are automatically re-attempted and eventually succeed. Up to 3 attempts has been seen.

Azure has had fewer builds, and all successful first time, no retries required.

So closing this issue for now.

[2021-02-26 06:04] #72 closed, assigned to robe070

[2021-02-26 06:13] robe070 opened #116 "Fix AWS Image CD Pipeline"
If necessary, refer to #83 for the initial work.

Implement the architecture described in the [wiki](https://github.com/robe070/cookbooks/wiki/AWS-Release-Pipelines-High-Level-View)

All work to be performed has been broken out into separate issues. Refer to the [project ](https://github.com/robe070/cookbooks/projects/9#card-56385551) for these issues or search for Issues labelled `Image Release P

[2021-02-26 06:15] robe070 opened #117 "Fix up the AWS Template CD Pipeline"
If necessary, refer to #82  for the initial work.

Implement the architecture described in the [wiki](https://github.com/robe070/cookbooks/wiki/AWS-Release-Pipelines-High-Level-View). Individual Issues have been created for each of the stages/jobs/tasks that require changes or are new - see Issues which are labelled `Template Release Pipeline` or this [project ](https://github.com/robe070/cookbook

[2021-02-26 06:19] #83 closed, assigned to praveen-acc, SakshamAccolite

[2021-03-02 04:36] #112 closed, assigned to robe070

[2021-03-02 04:40] #82 closed, assigned to srinivasp898

[2021-03-02 04:42] #85 closed, assigned to ajitesh-s

[2021-03-02 04:46] #78 closed, assigned to srinivasp898

[2021-03-02 05:07] #86 closed, assigned to robe070

[2021-03-03 04:59] robe070 opened #118 "AWS Regions Table"
Region Name | Code
-- | --
US East (Ohio) | us-east-2
US East (N. Virginia) | us-east-1
US West (N. California) | us-west-1
US West (Oregon) | us-west-2
Africa (Cape Town) | af-south-1
Asia Pacific (Hong Kong) | ap-east-1
Asia Pacific (Mumbai) | ap-south-1
Asia Pacific (Osaka) | ap-northeast-3
Asia Pacific (Seoul) | ap-northeast-2
Asia Pacific (Singapore) | ap-southeast-1
Asia Pacific (Sydney) | a

[2021-03-03 04:59] #118 closed, assigned to nobody

[2021-03-03 05:32] robe070 commented on #109
This was implemented as a manual change in the `support/scalable_marketplace` branch

[2021-03-03 05:32] #109 closed, assigned to nobody

[2021-03-03 06:20] robe070 commented on #76
This Issue has been completed except for the following issue raised above:

So, make the Azure `Template Release` pipeline the default release pipeline for the Azure `Templates - Azure Quick Start CI` pipeline.

[2021-03-03 07:01] ashutosh-kumar1 commented on #76
@robe070 , We can look into this issue. On trying to access the account it says 'the account is locked'! Can you provide me the access?
Username: ashutoshkumar@lansacloudlansacom.onmicrosoft.com

[2021-03-04 05:47] robe070 commented on #76
@ashutosh-kumar1
I've given you access

[2021-03-04 17:12] ashutosh-kumar1 commented on #76
@robe070, I have fixed the default selection for the release stage. FYI, the drop down displays all the pipeline names in the list sorted in alphabetical order so it was picking the `Issue Resolution Template Release` branch by default (which was the first entry). I changed the name to `Template Release Issue Resolution` and things went back to the desired state.

You can revert back the changes o

[2021-03-08 00:31] robe070 opened #119 "New Task Update AUS AMI Mappings"
Take the master template in the `support/scalable` branch and update the `ap-southeast-2`  entries in the 2 mapping tables with the AMI ids from the Image CI artifacts. Use a Powershell script saved in the `lansa/aws-templates` repo in a `scripts` directory

Add task to `S3 template upload` job.

Also add JPN image base names to array of image base names. They are the same as the English names but

[2021-03-08 01:12] robe070 opened #120 "New Job Commit AUS template changes"
**Commit AUS template changes**:
Commits the master template changes to the `aws-templates` git repo in `support/scalable` branch and pushes changes to GitHub. New job `Commit AMI Changes` that has all the `Publish *` jobs as prereqs (These changes now become the default images for all template tests in `ap-southeast-2`)
(Note the preview jobs need to be deleted)

Refer to the Wiki for suggestions

[2021-03-08 02:51] robe070 opened #121 "New Stage Update US AMI Mappings & Upload to S3"
Take the master template in the `support/scalable` branch and update the `us-east-1`  entries in the 2 mapping tables with the AMI ids created in the Stage `Copy AMIs to US`.

Use same Powershell script as used by #119 passing `-Region us-east-1`.

Add task to new `S3 template upload` job which is a copy of the existing `S3 template upload` job

[2021-03-08 03:06] robe070 opened #122 "New stages US IMG Tests"
**US IMG Tests**:
Test all the `us-east-1` images. `US IMG Test*` jobs (new - just copies of the `ap-southeast-2` tests, using a different region)

[2021-03-08 03:09] robe070 opened #123 "New stage Commit US template changes"
**Commit US template changes**:
Commits the master template changes to the `aws-templates` git repo in `support/scalable` branch and pushes changes to GitHub. New job `Commit US AMI Changes` that has all the `US IMG Test*` jobs as prereqs (These changes now become the default images for all template tests in `us-east-1`).

Merge `support/scalable` branch into `support/scalable_marketplace` branch

[2021-03-08 03:14] robe070 opened #124 "New Stage Marketplace"
**Marketplace**:
Manual step. Submit US AMIs to AWS MP.
Manually update a copy of the Product Load Form (today's date in the name) with the US AMIs.

[2021-03-09 00:27] robe070 opened #125 "Change Task AWS Template CD S3 patch/paas to use repo version of templates"
**S3 patch/paas**
Currently this task is uploading the CI artifact.

Upload the support/scalable branch to S3 patch/paas sub folder. (This version of the templates is using the git branch template parameter to locate the nested templates.)

[2021-03-09 00:39] robe070 opened #126 "Change task AWS Template CD S3 support/scalable to use repo version of templates"
**S3 support/scalable**:
Use `support/scalable_marketplace` resource to upload this branch's template to S3 support/scalable.  **(Note that the current Template URL for nested templates uses the support/scalable/marketplace folder so that needs to be changed. See Issue #126 )**

[2021-03-09 00:44] robe070 opened #127 "Change TemplateUrl parameter to use support/scalable S3 folder"
The current Template URL for nested templates in the `support/scalable_marketplace` branch uses the `support/scalable/marketplace` folder so that needs to be changed to support/scalable. This is a change to most of the templates. All templates which call nested templates need to change the `TemplateUrl` & `TemplateRoot` to use the different URL segment. That is, remove 'marketplace'.

Note the dif

[2021-03-09 01:03] robe070 opened #128 "New Stage AWS Template CD Merge to Marketplace"
**Merge to Marketplace**
Merge `support/scalable` into `support/scalable_marketplace`.

Refer to [Wiki ](https://github.com/robe070/cookbooks/wiki/AWS-Release-Pipelines-High-Level-View) for merge possibilities.

[2021-03-09 04:05] robe070 opened #129 "Change Stage AWS Template CD - Shoe Size & VPC Tests"
**Shoe Size & VPC Tests**:
Test all the variants of the templates using the templates in S3 patch/paas

Ensure that Issue #115 changes have been made and change the url to the S3 patch/paas folder

Create new stages so that all tests are in their own Stage. 1 job per stage creating 1 CF stack and testing it

[2021-03-09 04:22] robe070 opened #130 "New stage AWS Template CD - Validate Template URL"
**Validate Template URL**:
Test the Small Size template only using the templates in S3 support/scalable. This validates that the template URLs are correct for publication. Must create a New VPC so that the TemplateUrl parameter is fully tested.

[2021-03-09 04:46] robe070 opened #131 "AWS CD pipelines - Refactor all Powershell inline scripts into script files"
**Refactor all Powershell inline scripts into script files**
In the AWS CD pipelines only.
Must be done early in the PRD before Issues which are required to create new tests.

For example:
1. Set Gate Variable
2. Delete previous Failed stack
2. URL Tests
3. Test Image Version
etc

Please review each Inline script and replace with a script file if it is non-trivial. Any Inline scripts you decide ar

[2021-03-09 05:34] robe070 opened #132 "AWS Template CD - Marketplace URL Tests"
**Marketplace URL Tests**:
AKA "preview Tests".

Use the URL provided by AWS Marketplace to execute 1 test in each of the regions listed below using a different image and different shoe size for each test.

Once the listing has been accepted by AWS Marketplace and its now in preview the focus shifts to validating the changes made to the templates by AWS Marketplace. AWS make 2 changes. The first i

[2021-03-09 05:41] robe070 opened #133 "AWS Template CD - Run Live Tests"
**Run Live Tests**:
AKA "Production Tests".

Use the URL provided by AWS Marketplace to execute 1 test in each of the regions listed below using a different image and different shoe size for each test.

N.B. These tests are identical to the tests created for Issue #132, except that different Regions are used. So those stages should be cloned. It makes this Issue very easy to complete.

Once the li

[2021-03-10 04:12] #76 closed, assigned to nobody

[2021-03-11 22:56] robe070 opened #134 "Update Azure template to use new customer usage attribution IDs"
The change has been confirmed by Azure MP as just removal of the existing Usage attribution id as described below:

In mainTemplate.json
Remove the Microsoft.Resources/deployments resource that has this name and type:

        "name": "pid-5990c833-d17a-5616-8ab3-144d90fea6e9",
        "type": "Microsoft.Resources/deployments",

Full test is only possible once the template is published to Azure Ma

[2021-03-30 02:51] robe070 opened #135 "Remove template resource as requested by Azure Marketplace"
In mainTemplate.json
Remove the Microsoft.Resources/deployments resource that has this name and type:

        "name": "pid-5990c833-d17a-5616-8ab3-144d90fea6e9",
        "type": "Microsoft.Resources/deployments",

Full test is only possible once the template is published to Azure Marketplace

[2021-03-30 03:06] robe070 opened #136 "Construct JPN images"
Construct AWS and Azure JPN images in conjunction with LANSA Japan.

Requires template modification, a JPN MSI to be produced to test the template deployment along with test cases that may be programmatically executed as a web url to test that that data corruption is not occurring.

[2021-03-30 03:12] robe070 opened #137 "Implement AWS JPN images CI pipelines"
This issue requires Issue #136 to be complete
This issue requires Project `P1 AWS Images CD` to be complete.

Add JPN Image jobs to `AWS Images - Cookbooks CI` pipeline by duplicating the 4 existing Win2016 and Win2019 ENG image builds and making them produce JPN images.

Parameters to scripts/bake-scalable-azure-image-pipeline.ps1 will be changed as follows from the equivalent English versions:

[2021-03-30 03:21] robe070 opened #138 "Implement Japanese AWS Images CD Pipeline"
Requires project `P1 AWS Images CD` to be completed

In a similar manner to the English pipeline, add stages and jobs for Japanese.
This predominantly involves duplicating the English Stages and Jobs and providing different image ids, language identifiers and different test cases.

Set DBCCSID=Japanese_CI_AS

The MSI to use for the test case is https://lansa.s3-ap-southeast-2.amazonaws.com/app/Tes

[2021-03-30 03:53] robe070 opened #139 "Implement Japanese Azure Images CD Pipeline"
Requires project `P2 Azure` to be completed.
Requires project `P4 AWS Japanese Images` to be completed.

In a similar manner to the Azure English pipeline and the AWS Japanese pipeline , add stages and jobs for Japanese.
This predominantly involves duplicating the English Stages and Jobs and providing different image ids, language identifiers and different test cases.

When duplicating Stages from

[2021-03-30 03:57] robe070 opened #140 "Implement Azure JPN images CI pipelines"
This issue requires Issue #136 to be complete
This issue requires Project `P2 Azure` to be complete.
This issue requires Project `P4 AWS Japanese Images` to be complete.

Add JPN Image jobs to `Azure Images - Cookbooks CI` pipeline by duplicating the existing 4 ENG Win2016/2019 image builds and making them produce JPN images.

Once that is working correctly, add the same jobs to Azure `Build Image

[2021-04-07 04:06] robe070 opened #142 "AWS Chef updates not working"
Choose to update the stack.
Increment TriggerCakeUpdate  by 1.

In cfn-init.log the following error is reported:

The command `run-chef` is failing due to the following error:

[code]

The directory passed in no longer exists in the image: `C:\recipes\chef-repo\cookbooks`

Probable fix is that it should be `C:\lansa\cookbooks`.

[2021-04-08 03:28] #142 closed, assigned to robe070

[2021-04-08 06:03] robe070 opened #143 "Design stack maintenance tests"
There are various possible maintenance options in an AWS stack:
![image](https://user-images.githubusercontent.com/4089160/113975213-846f7700-9882-11eb-9391-a532018e680a.png)

Review the usefulness of these given:
1) Chef has marginal usefulness, and maybe should be removed altogether
2) Windows Updates can be done more easily through a scheduled job in Systems Manager
3) New images are produced r

[2021-04-08 23:33] robe070 opened #144 "Free Trial Lambda function node.js 8.10 no longer supported"
Upgrade to node.js 14.x.

Should be a simple matter of changing the runtime and testing that it works in the Test environment.

Then release it into production.

[2021-04-09 05:21] robe070 commented on #136
### General

No need for JPN 2012 images. Its no longer supported by LANSA. English only produced to make it easier for customers to move from existing images and old template to new images and new template. There are no existing Japanese users.

So 4 images are required for each Cloud. Win 2016 and win2019 for each of LANSA V14 SP2 and V15 GA.

### Tests
Use this MSI to test the JPN images
https:

[2021-04-16 04:57] robe070 opened #145 "AWS Add Japanese Marketplace images to templates"
Add win2016jpn and win2019jpn options to 11WebserverOSVersion parameter in all templates and add these options to the AMI mapping tables

[2021-04-16 06:39] #145 closed, assigned to robe070

[2021-05-07 05:28] robe070 opened #146 "Run AWS Marketplace Preview tests & Production tests in an alternate account"
Full license test requires use of a different AWS account to the main LANSA account in order that all the paths through the license code are tested.

[2021-05-07 05:30] robe070 opened #147 "AWS Free Trial expiry is currently 7 days. Needs to be 30 days"
Ensure Product Load Form is correct. If so, email Derrick to fix it.

[2021-05-16 23:47] robe070 opened #148 "Replace usage of AzureRM modules with Az module equivalents"
### Replace usage of AzureRM modules with Az module equivalents

#### Build Image Release Artefacts pipeline & Azure Images - Cookbooks CI pipeline
The Azure Resource Group Tagging tasks use a module that is out of date. This generates 4 warnings for every usage. For the Build Image Release Artefacts pipeline that adds up to 24 warnings. This covers up other potential important warnings.

An issue

[2021-05-17 04:12] robe070 opened #149 "AWS Image Release CD pipeline jobs fail if an artifact has not been built"
The pipeline was designed to not fail if an artifact has not been built. Its just that there is a test missing.

SetGateVariable.ps1 sets the $(Gate.IsEnabled) flag appropriately. **ALL** The following tasks require a condition to be added to test this variable. You can look at the Azure Image Release CD pipeline for an example as shown below:

![image](https://user-images.githubusercontent.com/40

[2021-05-27 11:13] ganeshk146 commented on #131
@robe070 ,

As we discussed on our last call the proposed solution was

1. https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_release?view=all&_a=releases&definitionId=5 (Image Release 2.0)

2. https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_release?view=all&_a=releases&definitionId=6 (Template Release 2.0)

In the above releases, we need to m

[2021-05-28 00:11] robe070 commented on #131
Those are links to the pipelines. If you've actually changed a specific Pipeline Task, then name it please. You haven't changed the first 3 tasks in either of the pipelines. And there are no pipeline runs showing you've tested it.

[2021-05-31 04:29] robe070 commented on #131
@ganeshk146 I've made a comment against PR 17:
https://github.com/lansa/aws-templates/pull/17

[2021-06-02 05:05] #146 closed, assigned to robe070

[2021-06-02 05:24] robe070 opened #150 "Incorporate the testing of every Marketplace AMI ID that is in the template"
There is an existing script scripts\TestTemplateMappingAMI.ps1. It takes the URL of the Marketplace template and then extracts the AMI Id and Region of every AMI and ensures it exists.

Modify this script to process every AMI Id as it currently does, but if there is 1 or more failure, at the end, throw an exception.

Then incorporate this into a Stage of the Template CD Pipeline before the Marketp

[2021-06-04 09:50] ganeshk146 commented on #149
@robe070 , Added the custom condition for https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseDefinition?definitionId=5&_a=definition-tasks&environmentId=64 job tasks

[2021-06-07 00:23] robe070 commented on #149
You will need to apply the changes to 1 of the other jobs in order to test with artefact 873 that your changes are working correctly. When you create the release, change the Job IMG Test w12r2d-14-2 to manual. When thats successful, apply to all t

When its successful, please  point out to me which release of the pipeline demonstrates the successful implementation of this code.

[2021-06-07 07:17] ganeshk146 commented on #149
@robe070 , After doing this step "change the Job IMG Test w12r2d-14-2 to manual" I ran the release pipeline it is successful
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-environment-logs&releaseId=174&environmentId=2600.

I applied the same change to other jobs as well.
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20I

[2021-06-08 00:39] robe070 opened #151 "Test CFN Deployment : URL Tests is timing out because the timeout is too short"
`Test CFN Deployment : URL Tests` task in the `Templates - AWS CI` pipeline is sometimes timing out. This is a new issue.

The cause is that the `TimeoutSec` parameter is too small.

Change the code to use the script $(System.DefaultWorkingDirectory)/_lansa_aws-templates/scripts/TestCFNDeployment.ps1.

Adjust `-TimeoutSec 14` to `-TimeoutSec 60`

Remove all `| Out-Default | Write-Verbose` code. Th

[2021-06-08 00:56] robe070 commented on #149
Release 53 is not successful. The idea of `setting  Job IMG Test w12r2d-14-2 to manual` was to be able to immediately get to see the other jobs failing. Which they still are. They MUST NOT FAIL! The code is not correct. The whole point of the code is to skip the jobs for which there is no artifact. And that is not occurring. 873 only has an artifact for `w12r2d-14-2`. Thats why you must focus on t

[2021-06-08 06:18] ganeshk146 commented on #149
The testing is done https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?releaseId=177&_a=release-pipeline-progress

[2021-06-08 09:51] #149 closed, assigned to ganeshk146

[2021-06-08 10:03] robe070 commented on #119
The name of the parameter will be `ImageType` and will be a string with a `ValidateSet`
It will take these values only: `Development`, `Publication`.

`Development` for this Issue.
`Production` for Issue #121

[2021-06-08 23:37] robe070 commented on #119
I notice that the Stages named `Publish <ImageBaseName> AMI to US ` have a task `Add Name Tag` which writes out the copied AMI names to the file `copy-<ImageBaseName>.txt` and that file is then copied to S3 by the following task `S3 Upload AMI file`

So I may have given you unnecessary instructions in the Review meeting yesterday.

And I'm not clear that you are receiving these comments, so please

[2021-06-09 01:08] robe070 commented on #131
I've just realised that you have only made these changes for the Image Release pipeline. The Template Release pipeline also needs inline scripts refactored.

And other Issues may continue as they are all related to the Image Release pipeline.

You may address this anytime before you start making any other changes to the Template Release pipeline. And its probably better done sooner rather than lat

[2021-06-09 01:17] robe070 commented on #131
Also `DeletePreviousFailedStack.ps1` Is still referring to `$(Gate.stack)`. A parameter is passed in from the pipeline, but there is no parameter on the script.

[2021-06-09 03:36] anant-k-agrawal commented on #131
This requirement is not evident by reading the ticket description. No worries @robe070, as you suggested, let's finish it in the first place.

[2021-06-09 04:23] robe070 commented on #131
Its not spelt out, and its implied by this phrase "In the AWS CD pipelines only." I did also verbally state at the beginning that it was both of the CD pipelines.

[2021-06-09 06:22] robe070 commented on #120
If the code is extremely simple like
[code]
then inline would be OK. Anything more complex then a script file is required.

[2021-06-09 06:31] ganeshk146 commented on #120
@robe070 ,  just taking a step back to understand few things
- which file we need to commit to the GitHub repo?
- if we are running the pipeline with our feature branch it will commit to feature branch?
- I am still not getting context why we need to commit and how does it will effect the release pipeline

I would like to have a call to a better understanding of this issue before implementing it.

[2021-06-09 06:40] robe070 commented on #120
1. the main template will be modified by Rizwan's script: aws-templates\CloudFormationWindows\lansa-master-win.cfn.template
2. It will commit to the current branch
3. The template is then uploaded to S3 for execution.
4. This template will then be used by the following tests to ensure the changes made by Rizwan's script is successful.

I have other meetings to attend to. I hope that is sufficient.

[2021-06-14 04:37] ganeshk146 commented on #120
@robe070 ,
When the repo is cloned to the workspace directory It is pointing to a commit and not to any branch

<img width="899" alt="Screenshot 2021-06-14 at 10 08 12 AM" src="https://user-images.githubusercontent.com/72592790/121839793-77df2300-ccf8-11eb-8d0d-0bff1d038560.png">

- we have to do a couple of things to fix it

1. We have to generate personal access token in the user account (right

[2021-06-15 00:17] robe070 commented on #120
Thank you for the clear comments. And good investigation and solution. Great work.

The inline script is now non-trivial, so it now needs to be in a file. And you'll need to provide project variables for the settings required in steps (1) and (2) above and refer to them in the script. Its fine to get it working inline before a final change to put the script in a file.

So I presume you need me to

[2021-06-15 01:16] robe070 commented on #120
On further thought, I think we need to discuss the best way to structure the pipeline. Considerations include:
1. The commit will need to be in the same Agent as Rizwan's task is run in so that the file change is picked up.
2. It seems sensible for Rizwan's task to add the file to git after changing it.
3. Maybe the Commit & Push should also be done from Rizwan's code?
4. Maybe the setup steps sho

[2021-06-15 02:28] robe070 commented on #122
I have had a look at your release pipeline 122. The errors are due to using the MAI of the image in the ap-southeast-2 region.
The US images have different AMI Ids. These are created by the Stage `Publish w12r2d-14-2 AMI to US `.

The Task `S3 Upload AMI File` uploads all the files to S3.

You will need to download them at the beginning of your stages. And I think the best solution is to overwrite

[2021-06-15 02:46] rizwancel commented on #119
Committed a new powershell script which gets AMI IDs based on Production/Devlopment image type and then sets appropriate region type and updates JSON template file with proper AMI IDs.

[2021-06-15 07:18] ganeshk146 commented on #120
@robe070 ,

As per the discussion, This task is giving write permission to the repo (configure URL, username and email)

[2021-06-15 07:19] ganeshk146 commented on #123
@robe070 ,

This task is about adding the git commands (git add ., git commit , git push) to Rizwan's script written for #119

[2021-06-15 07:25] robe070 commented on #120
The directory of the git repo must also be passed in. Then its a generic script which may be used for any git repo.

[2021-06-15 07:26] robe070 commented on #123
...and merging too.

[2021-06-15 07:31] robe070 commented on #123
@anant-k-agrawal This should be assigned to Rizwan to add these behaviours when doing #121. Note that there is an extra step for #121 compared to #119 - the merge of the branches. If Rizwan has the requisite git skills then it would be most appropriate for him to do it.

[2021-06-15 08:15] ganeshk146 commented on #120
@robe070 ,
Please review the PR: https://github.com/lansa/aws-templates/pull/19
Here is the successful release pipeline URL https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-environment-logs&releaseId=226&environmentId=3153

[2021-06-15 08:20] ganeshk146 commented on #120
@robe070

I added variables to both pipelines and here is the screenshot.
<img width="1427" alt="Screenshot 2021-06-15 at 1 49 01 PM" src="https://user-images.githubusercontent.com/72592790/122018512-902a6d00-cde0-11eb-99ce-7341308f667a.png">
<img width="1434" alt="Screenshot 2021-06-15 at 1 48 54 PM" src="https://user-images.githubusercontent.com/72592790/122018556-99b3d500-cde0-11eb-8bc9-2900646

[2021-06-15 08:40] robe070 commented on #120
I believe that the GitRepoName and GitLansaAwsTemplatesBranch may be derived from the _lansa_aws-templates artefact - from system variables. Please investigate. _lansa_aws-templates may be presumed static and pass that in to your script.

![image](https://user-images.githubusercontent.com/4089160/122021404-fc20cb80-ce08-11eb-9225-e04b21dbbd71.png)

And how do I generate the Url for the lansa/aws-t

[2021-06-17 05:12] ganeshk146 commented on #120
@robe070 ,

I checked The Release Artifacts system variables, I am not able to able to access the GitLansaAwsTemplatesBranch and GitRepoName (i.e. source alias).
- Reason for  GitLansaAwsTemplatesBranch not able to access system variables because the variable contains "-".
- Source alias name (GitRepoName) is not available with the system variables.

- Added comments in the script and commit-id: h

[2021-06-17 07:51] ganeshk146 commented on #120
@robe070 ,

Please find the URL (release pipeline) and testing is successfull.
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-environment-logs&releaseId=252&environmentId=3520

I request you to please merge the PR: https://github.com/lansa/aws-templates/pull/19

[2021-06-18 04:35] ganeshk146 commented on #123
@robe070 ,

As part of this task, I have 2 branches
1. `feature/119` (in live release pipeline it will be `support/scalable`)
2. `feature/119-clone` (in live release pipeline it will be `support/scalable_marketplace`)

- I added a task called "commit and push changes to git repo" in this [release](https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=relea

[2021-06-21 06:45] #131 closed, assigned to rizwancel, ganeshk146, sharirpcs

[2021-06-21 10:07] ganeshk146 commented on #119
@robe070 ,

I added the steps as per today's discussion in the morning.
Here is the pipeline which commits the changes to `feature/tamplate_id` (temp branch) https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-environment-logs&releaseId=303&environmentId=4220

Here is the pipeline which merges the changes from `feature/tamplate_id` to `feature/11

[2021-06-22 01:55] robe070 commented on #119
@ganeshk146 Changes to the pipeline look correct. The formatting of the template is so different that its not simple to compare before and after versions. And you'll need to revert the change to feature/119 branch before running another test.
@rizwancel Formatting of the template after updating the AMIs is wrong. This must be corrected ASAP. Release-97 seems to be showing that the template is inva

[2021-06-22 09:20] #120 closed, assigned to ganeshk146

[2021-06-23 02:11] robe070 commented on #116
You need to remove the US Publish stages. There is no such stage in the Wiki. The remainder look good.
@ganeshk146

[2021-06-23 04:46] robe070 opened #152 "Put built Image in Azure Shared Image Gallery rather than using SAS URL"
Continue to generate the SAS URL for the moment.
Augment by sharing the image to the Azure Shared Image Gallery once its been tested prior to Preview.
Add it as the last task in the AUS Test Stages.

[2021-06-25 04:31] ganeshk146 commented on #124
@robe070 ,

This stage is added into image release pipeline 2.0 and here is the URL for successful build
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=360

[2021-06-25 05:00] ganeshk146 commented on #123
@robe070 ,

Sorry , I clicked the Close Issue button by mistakenly

[2021-06-28 01:14] robe070 commented on #123
All git commands need to have the return code tested. If its an error, display the error code, and an appropriate message relevant for the git command and then throw.

[2021-06-28 01:16] #124 closed, assigned to ganeshk146

[2021-06-29 04:26] ganeshk146 commented on #123
@robe070 ,

I added the exit codes for all git commands, Please find the successfull build
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=387

If there is any conflicts it will fail with exit 1
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-environment-logs&

[2021-06-29 04:54] robe070 commented on #123
1. Looks like the error messages are not being displayed
2. I think for at least the Delete temp branch step, its duplicated code. That MUST be put in a script file.

[2021-06-29 07:30] robe070 commented on #62
Powershell developer to make the script changes and test them external to the pipelines. When complete, an AzureDevOps developer needs to incorporate it into the AWS and Azure CI Image pipelines

[2021-06-29 07:54] ganeshk146 commented on #123
@robe070 ,

I made the changes and tested with pipeline
When Git failure occurs https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?releaseId=399&_a=release-pipeline-progress

When Git commands success https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=397

[2021-06-29 07:58] robe070 commented on #123
I can't see a failure with this:
When Git failure occurs https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?releaseId=399&_a=release-pipeline-progress

[2021-06-29 08:00] ganeshk146 commented on #123
@robe070 ,
The failure is in the last stage "Commit US template changes" https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?releaseId=399&_a=release-pipeline-progress
`git pull origin  test_pipeline_rizwan_sharmil --allow-unrelated-histories failed`
<img width="1055" alt="Screenshot 2021-06-29 at 1 29 16 PM" src="https://user-images.githubusercontent.com/7

[2021-06-29 08:07] robe070 commented on #123
Looks good.

[2021-06-30 07:04] ganeshk146 commented on #125
@robe070 ,

I added my changes to template Release 2.0 pipeline and here is successfull run of the build https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=411

[2021-07-01 04:09] #125 closed, assigned to ganeshk146

[2021-07-01 04:12] ganeshk146 commented on #125
@robe070 ,

Please review this PR and request to merge https://github.com/robe070/cookbooks/pull/153

[2021-07-01 05:57] ganeshk146 commented on #128
@robe070 ,

As discussed in the call I am going to do below changes
- Move https://github.com/CelestialSystem/aws-templates/blob/feature/119/scripts/GitRepoWriteAccess.ps1 to cookbooks repo
- Add cookbooks Artifacts into Image Release 2.0
- Change the path uses GitRepoWriteAccess.ps1 in Image Release 2.0 pipeline
- Run the GitRepoWriteAccess.ps1 from aws-template to cookbooks repo
- Move the Merge

[2021-07-01 07:41] robe070 commented on #128
Also please change the Agent being used to windows 2019 on all Jobs. e.g.
![image](https://user-images.githubusercontent.com/4089160/124085589-8ddc3a00-da93-11eb-93b3-c4c740183383.png)

[2021-07-01 07:50] ganeshk146 commented on #128
@robe070 ,
The above change needs to be done for Image Release pipeline 2.0 and Template Pipeline 2.0 , Am I correct?

[2021-07-01 23:59] robe070 commented on #128
Correct

[2021-07-02 05:53] ganeshk146 commented on #128
@robe070 ,

Please find the successful test URL https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=429

[2021-07-02 05:54] ganeshk146 commented on #126
Hi @robe070 ,

Please find the successful unit test done https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-environment-logs&releaseId=429&environmentId=6592

[2021-07-02 05:56] ganeshk146 commented on #128
PR for 128 ticket Please review it and requesting to merge https://github.com/robe070/cookbooks/pull/155

[2021-07-05 01:02] #126 closed, assigned to ganeshk146

[2021-07-05 01:05] #128 closed, assigned to ganeshk146

[2021-07-06 07:57] #122 closed, assigned to sharirpcs

[2021-07-07 09:16] robe070 opened #156 "Image CI Pipeline does not pull the PR into the VM to build the image"
The defect is noticeable when the changes in the PR must be in the VM in order for the image to be built correctly. E.g. a new script is created is the most obvious - the script isn't found.

The cause is that a PR must be handled differently from a simple branch in order to pull the changes into the VM:

This post describes the solution required:

-------------------------------------------------

[2021-07-07 21:56] #116 closed, assigned to ganeshk146

[2021-07-07 21:56] #119 closed, assigned to rizwancel

[2021-07-07 21:57] #121 closed, assigned to rizwancel

[2021-07-07 21:57] #123 closed, assigned to ganeshk146

[2021-07-08 01:56] #127 closed, assigned to robe070

[2021-07-08 02:13] robe070 commented on #132
These are the parameters required when creating all the stacks, including `us-east-1`, though note that its variable names end with `US` not `-us-east-1`.

And these REPLACE the parameters of the same name, and the parameter DBSubnetGroupName must be removed.

It would save a lot of typing if the [region] was available as a shell variable. Then this only needs to be setup once and then cloned. Ple

[2021-07-08 05:25] robe070 commented on #130
Note that the VPC parameters must be set for a **New VPC**. Currently its using an existing VPC.

[2021-07-09 00:42] robe070 commented on #111
I have fixed this. Can't wait for your slow work.

CheckAWSSSmAgent.ps1 has invalid text in it. Here is a hex view. They are not even valid UTF-8 or utf-16 combinations, even if reversed. Strangely, Visual Code does not show these corruptions and neither does Notepad++. I used Notepad++ hex view plugin to see the issue. You'll need something similar in order to effectively fix this:
![image](https

[2021-07-09 09:06] Arshpreet1002 commented on #135
Where is this file "mainTemplate.json" and which pipeline do i need to create/test for this.

[2021-07-09 09:14] Arshpreet1002 commented on #113
Which pipeline should I work and which stacks to be deleted.

[2021-07-09 13:19] rizwancel commented on #111
I have removed the invalid characters which is listed in below images.
![invalid_char](https://user-images.githubusercontent.com/38536632/125083681-4f272f00-e0e6-11eb-9387-ab08bc8fd53b.JPG)

[2021-07-12 01:53] robe070 commented on #113
[Azure Image Release 2.0](https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_releaseDefinition?definitionId=15&_a=environments-editor-preview)

Compare the `AUS IMG Test` stages with the `PrevTest` and `ProdTest` stages. You'll see that Delete Resource Group is the 3rd task in the `AUS IMG Test` stages and it does not exist in the other 2. So create the tasks to do a si

[2021-07-12 01:57] robe070 commented on #135
`git@github.com:lansa/azure-quickstart-templates.git`

`\GitHub\azure-quickstart-templates\lansa-vmss-windows-autoscale-sql-database\mainTemplate.json`

To test it just raise a PR. The CI pipeline will test it sufficiently.

[2021-07-12 02:41] #111 closed, assigned to rizwancel

[2021-07-12 04:08] ganeshk146 commented on #132
@robe070 ,

Here is what I am thinking, I will be creating the template parameter JSON using PowerShell script before Deploy Stackstep.
- create a file called TemplateParameter-us-east-1.json for us-east-1 region
- and this file contents will be TemplateParameter-us-east-1.json

[code]
- likewise I will create different types of JSON files depends on the region input and reference it in stack crea

[2021-07-12 07:22] sharirpcs commented on #115
Testing is completed and successful.Please review it https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_release?definitionId=6&view=mine&_a=releases

[2021-07-12 07:22] sharirpcs commented on #129
Testing is completed and successful.Please review it https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_release?definitionId=6&view=mine&_a=releases

[2021-07-12 13:05] sharirpcs commented on #114
Please review the changes in this pipeline release test release.https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=511

[2021-07-13 03:05] robe070 commented on #129
Please provide release url, not pipeline url.

[2021-07-13 03:05] robe070 commented on #115
Please provide release url, not pipeline url.

[2021-07-13 11:34] sharirpcs commented on #115
Release-71 has got the changes tested.Please review it.
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_release?view=all&_a=releases&definitionId=6

[2021-07-13 11:34] sharirpcs commented on #114
Release-71 has got changes tested.Please review it.
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_release?view=all&_a=releases&definitionId=6

[2021-07-13 11:35] sharirpcs commented on #130
Release-88 has got the changes tested.Please review it.Here is the URL
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_release?view=all&_a=releases&definitionId=6

[2021-07-13 11:37] sharirpcs commented on #129
Release-71 has got changes tested.Please review it.
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_release?view=all&_a=releases&definitionId=6

[2021-07-13 23:01] #115 closed, assigned to sharirpcs

[2021-07-13 23:01] #114 closed, assigned to sharirpcs

[2021-07-13 23:01] #130 closed, assigned to sharirpcs

[2021-07-13 23:05] #129 closed, assigned to sharirpcs

[2021-07-14 00:43] #110 closed, assigned to robe070

[2021-07-14 01:30] robe070 commented on #80
Win2012 removed from requirement

[2021-07-14 10:07] Arshpreet1002 commented on #113
I have made the required changes and Tested the pipeline that is working fine but failing at some other stage.
This is the Test Release Link.
https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_apps/hub/ms.vss-releaseManagement-web.cd-release-progress?releaseId=212&_a=release-pipeline-progress

[2021-07-15 02:29] robe070 opened #159 "Create Azure image as a Managed Disk"
It will be easier to manage the Azure images, especially the storage consumed and the costs therein, if Managed Images were used.

This also then allows for the Managed Image to be shared in the Shared Image Gallery for publication. The benefits of that seem dubious at the moment. You can only share them with users who have permissions to your subscription. Copying the image across tenants seem to

[2021-07-15 05:19] robe070 commented on #113
The cause is because there are manual steps when the cookbooks debug/paas branch needs to be merged to patch/paas, and then another pone to merge patch/paas into support/scalable.

I have done the first merge. The 2nd one can't be done until the images have been pushed into production because existing users will would then be using old images with new code.

For your purposes, failing is actually

[2021-07-15 05:54] ganeshk146 commented on #133
The changes are done , For testing We need a real market place URL

[2021-07-15 05:54] ganeshk146 commented on #132
The changes are done , For testing We need a real market place URL

[2021-07-15 07:14] robe070 commented on #92
The simplest way to create an example stack is to start with the Marketplace LANSA Scalable Stack:
https://azuremarketplace.microsoft.com/en-ca/marketplace/apps/lansa.lansa-scalable-stack-win-2019?tab=Overview
This uses mainTemplate.json.

[2021-07-15 07:37] robe070 commented on #113
The deletion is not working. Thats why the PrevTest Stages are still not finding the script - because the stack is not re-created. In the following image you can see that the deletion takes just 15 seconds when a more typical time might be 15 minutes. And the stack creation is about 1 minute when its normally more like 1 hour. So please work out why the deletion is not working.

![image](https://u

[2021-07-15 10:00] Arshpreet1002 commented on #113
I have Created a RG in portal and then again ran the PrevTest stage ,So its deleting the Rg and The Stage is also getting succeeded.I am attaching the link to the pipeline.

https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_releaseProgress?releaseId=212&_a=release-environment-logs&environmentId=2659#

[2021-07-15 23:16] robe070 commented on #113
What did you change? You said you did that before, and it clearly is not deleting the RG.

I think you are not deleting the correct RG. Because there was no need for you to create one because it was already there.

[2021-07-16 03:08] robe070 commented on #113
I have checked. You are not deleting the correct RG

[2021-07-19 03:01] #62 closed, assigned to rizwancel

[2021-07-19 03:12] #113 closed, assigned to Arshpreet1002

[2021-07-19 07:28] robe070 opened #160 "Add JPN AWS Image Ids to Product Load Form & create patches for 14.2 and 15.0"
AWS requires the image product codes to be baked into the LANSA runtime.
So when the JPN AWS Image Ids are ready to be listed, update the product load form and get the Product Codes back ASAP:
Then:
1) Patch LANSA V14 SP2 and V15 GA
2) Apply patch to systems which build the MSIs
3) Construct MSIs for V14 SP2 and V15 GA for both ENG and JPN
4) Update pipelines to use new MSIs.

[2021-07-19 07:40] robe070 opened #161 "Add DB Collation to Azure template"
Prompt for DB Collation and pass it through to mainTemplate.json and thence to the database instance

[2021-07-19 11:00] Arshpreet1002 commented on #113
[113_screenshots.docx](https://github.com/robe070/cookbooks/files/6840247/113_screenshots.docx)

[2021-07-19 11:16] Arshpreet1002 commented on #135
I have made changes to the mainTemplate.json and Tested it locally Which is working fine.
<img width="721" alt="Working_fine" src="https://user-images.githubusercontent.com/84080625/126150557-b6fd14f9-c9f0-4ff2-90af-70a68c53125c.PNG">

But ,After Creating PR The pipeline is failing and I am guessing it is failing due to other Template that is sqlserverTemplate.json
And showing the error of api ver

[2021-07-20 00:09] robe070 commented on #135
I like your evidence of work done. It makes my task much much easier. Thank you.

Yes, check in the sqlserverTemplate.json file

[2021-07-20 00:10] robe070 commented on #113
Thank you for the PrevTest. What about the ProdTest?

[2021-07-20 05:42] Arshpreet1002 commented on #113
Please find the file for both Prod and Prev Tests.
[113_screenshots.docx](https://github.com/robe070/cookbooks/files/6845746/113_screenshots.docx)

[2021-07-21 03:29] robe070 commented on #150
Waiting for URL to be provided by AWS MP and to have it successfully used by the pipeline

[2021-07-22 08:43] ganeshk146 commented on #105
The changes are done in the below pipelines
1. https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_releaseDefinition?definitionId=17&_a=environments-editor-preview

2. https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_releaseDefinition?definitionId=16&_a=environments-editor-preview

from my side no changes left for this ticket

[2021-07-23 04:44] ganeshk146 commented on #105
Testing has been done on  these releases
https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=219

https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=224

[2021-07-23 05:19] #105 closed, assigned to ganeshk146

[2021-07-27 13:18] ganeshk146 commented on #137
AWS Images - Cookbooks CI testing URL: https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_build/results?buildId=1098&view=logs&j=33c90b4a-9a8c-5ab6-4a2d-e789e8f2ea10

Build Image Release Artefacts testing URL:
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_build/results?buildId=1089&view=results

[2021-07-28 05:37] ganeshk146 commented on #137
@robe070 ,

I updated the parameter name and ran tests and the build is successfull. Please review the PR https://github.com/robe070/cookbooks/pull/162

[2021-07-28 08:06] #137 closed, assigned to ganeshk146

[2021-07-29 04:55] Arshpreet1002 commented on #92
Please close this Ticket as testing is done and PR is merged.

[2021-07-30 02:40] robe070 commented on #139
This comment is about changing the region tested.

### Preview
There are 18 existing Preview Stages. 6 are Windows2012. These are to be removed soon, so leave them as they are.

The remaining 12 stages are for win2016 and win2019. They test the same 3 regions 4 times. This is to be changed to use a different region for each stage (ignoring win2012 stages).

These are the regions to be used with th

[2021-08-02 06:15] #134 closed, assigned to Arshpreet1002

[2021-08-02 06:15] #135 closed, assigned to Arshpreet1002

[2021-08-03 04:06] ganeshk146 commented on #138
Image 2.0 Pipeline testing for JPN images
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?releaseId=599&_a=release-pipeline-progress

Template 2.0 pipeline testing for JPN images
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseProgress?_a=release-pipeline-progress&releaseId=598

[2021-08-03 04:45] robe070 commented on #138
Please name the AUS template deployment stages along the same lines as suggested for Azure in slack yesterday. Namely

[Region Abbreviation] [some name] [Image version]"

e.g. `AUS Small Shoe Size w12r2-14-2`

The Marketplace URL Tests that have the `Wait for Live stage` as prerequisites need a name change. Instead of the text `Marketplace URL Tests` it needs to be changed to `Prod`, for Productio

[2021-08-03 04:48] robe070 commented on #138
...and remove the dashes `-`, it takes up precious space.

And the remaining `Marketplace URL Tests` to have that text replaced with `Preview`

[2021-08-03 04:51] robe070 commented on #138
And Canada central is tested twice. Please change one and name the stage remaining that is using Canada Central as `Canada Central`

[2021-08-03 04:58] Arshpreet1002 commented on #140
Added JPN Image jobs to Azure Images - Cookbooks CI and Azure Build Image Release Artefacts pipeline by duplicating the existing 4 ENG Win2016/2019 image builds and making them produce JPN images.

Testing is also Done.
https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20License%20Images/_build/results?buildId=1106&view=results
https://dev.azure.com/VisualLansa/Lansa%20Azure%20Scalable%20

[2021-08-03 05:01] ganeshk146 commented on #138
The requested changes are done https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseDefinition?definitionId=6&_a=definition-pipeline

[2021-08-03 06:49] ganeshk146 commented on #138
Hi @robe070 ,

In preview stage tests we are using "London" and "Oregon" 2 times.
In production stage tests we are using "Frankfurt" and "Canada Central" 2 times

Please provide me the VPC parameters for new regions to be added.

[2021-08-03 07:27] robe070 commented on #138
@sharirpcs produced the VPC parameters previously. So please work with him to obtain them. Could wait for him to complete #103 or he could direct you as to what you need to do.

Regions to use are:
Mumbai ap-south-1
Hong Kong ap-east-1
Milan eu-south-1
Bahrain me-south-1

And change Canada Central to just Canada.

[2021-08-03 09:31] sharirpcs commented on #138
I have showed @ganeshk146 how to obtain the VPC parameters for Mumbai ap-south-1 region and he will follow the same for rest of the regions

[2021-08-04 01:00] robe070 commented on #140
Waiting for PR to be cleaned up and the JPN images available for testing.

[2021-08-04 05:03] ganeshk146 commented on #138
added the changes as per comments
https://dev.azure.com/VisualLansa/Lansa%20AWS%20Scalable%20License%20Images/_releaseDefinition?definitionId=6&_a=definition-pipeline

[2021-08-04 07:23] robe070 commented on #140
JPN Images now available. It is now urgent this is completed. Your git changes are required to be merged with JPN image changes. Are you not working today?

[2021-08-05 05:21] ganeshk146 commented on #139
Hi Rob,

Please confirm the stages for Preview and Production

Preview Stages
---------------------------
[code]

Production Stages
---------------------------
US Central -> w16-14-2j
Europe North -> w16-15-0j
India South -> w19-14-2j
Switzerland North -> w19-15-0j

[2021-08-05 06:16] ganeshk146 commented on #139
In template 2.0 release pipeline existing stages
----------------------------------------------------
AUS SQLAZURE1 DB  -> w12r2d-14-2
AUS SQLAZURE2 DB  -> w19d-14-2
AUS SQLAZURE3 DB  -> w16d-14-2
AUS SQLAZURE4  DB -> w19d-15-0
AUS SQLAZURE5 DB  ->  w16d-15-0
AUS SQLAZURE6 DB  -> w12r2d-15-0
AUS  MYSQL1 and MSSQL DB -> w12r2d-14-2
AUS MSSQLS1 DB  -> w12r2d-14-2

AUS Dev Shoe(With Key Vault Cert) S

[2021-08-06 01:38] robe070 opened #165 "Refactor pipelines to use variables of the same name with Stage-Specific SCOPE"
Refactor pipelines to stop using Stage-specific literals and replace with variables of the same name with Stage-Specific SCOPE.

Currently we have, say the Build-w12r2d-14-2 flags and Build-All.
This should be changed to ONE variable name
Build at RELEASE SCOPE instead of Build-All
Build at STAGE scope instead of Build-w12r2d-14-2 flags, and these DO NOT NEED TO EXIST. If it does, it overrides the

[2021-08-06 02:13] robe070 commented on #139
I have edited your comment and changed 2 from w12 to w19.

Also note that `AUS MYSQL1 and MSSQL DB` should be called `AUS MYSQL1 DB` and should only contain the MYSQL test

[2021-08-06 04:31] robe070 opened #166 "Test 64-bit application deployment"
This issue needs splitting up into all the tasks that will be required
Build 64-bit MSI & Test it in isolation
Add stages to AWS and Azure, Image and Template CD pipelines.

[2021-08-06 04:32] robe070 opened #167 "Add MySQL database support on AWS to templates"
Should Azure be added in? Or a separate requirement?
The first step in this process is confirming that the Cloud test application may be deployed using a MySQL database on-prem. The LANSA MSI lists MySQL as supported, but it has not undergone a thorough system test.

The second step in this process is validating that MySQL does work in the Cloud and that would also include Amazon Aurora MySQL comp

[2021-08-09 04:10] Arshpreet1002 commented on #140
Hi Rob,Please close the Ticket.

[2021-08-09 05:04] robe070 commented on #161
This ticket is not required. Its already in the code.

[2021-08-09 05:04] #161 closed, assigned to Arshpreet1002

[2021-08-10 06:12] robe070 commented on #92
RDP into port 50000 and 50002 is to the same VM. Please fix it.

[2021-08-10 10:18] ganeshk146 commented on #156
@robe070 ,
Please close this ticket

[2021-08-11 00:54] #156 closed, assigned to ganeshk146

[2021-08-13 06:58] robe070 opened #170 "Add a tagging stage to the end of each release pipeline"
Need to add tags like this to each relevant repo. See User documentation for what tag occurs when:
AzureImage-w19d-15-0-6
AzureImage-Build-991
AzureImage-Release-14
AzureTemplate-Release-118

All can be derived from the artifacts.
Note that when tagging the AWS cookbooks repo from the template release pipeline, use the Image build number to construct the tag that will have already been applied in

[2021-08-13 08:12] Arshpreet1002 commented on #92
Hi Rob Please close the issue.